<div>
	<div style="background-color:#ddd;padding-left:5px;">
		<span style="color:black;font-family:serif;"><b>Menu</b></span>
	</div>

	<div style="padding:10px 10px 30px 10px;">	
		<select select-directive class="ui search dropdown"
			ng-model="$ctrl.selected"
			ng-change="$ctrl.onUpdateLine({line: $ctrl.selected})">
			<option value="">Search Line</option>
			<option ng-repeat="line in $ctrl.lines" ng-value="'{{line}}'">
				{{line}}
			</option>
		</select>
		
		<div style="margin-left:20px;margin-top:10px;">
			<span style="font-size: 0.8em"><em>Adjust Brightness</em></span>
			<div>
			<input type="text"
			 style="" ng-attr-placeholder="Enter Value"
			 id="brightness-input" class="img-modify-input"  
			 ng-model="$ctrl.brightness">
			</div>	

			<span style="font-size: 0.8em"><em>Adjust Gamma</em></span>
			<div>
			<input type="text"
			 style="" placeholder="Enter Value"
			 id="gamma-input" class="img-modify-input"
			 ng-model="$ctrl.gamma"/>
			</div>

			<div style="margin-top:0.3em">
				<button ng-click="$ctrl.onAdjustLine({line: $ctrl.selected,
			 		brightness: $ctrl.brightness, gamma: $ctrl.gamma})">Submit</button>
				<button ng-click="$ctrl.resetValues()">Reset</button>
			</div>
		</div>


	</div>

	<div style="padding:10px 10px 30px 10px;">	
		<select select-directive class="ui search dropdown"
			ng-model="$ctrl.masks.cyan"
			ng-change="$ctrl.onUpdateMask({mask: $ctrl.masks.cyan, color: 'cyan'})">
			<option value="">Search Mask</option>
			<option ng-repeat="mask in $ctrl.masks" ng-value="'{{mask}}'">
				{{mask}}
			</option>
		</select>
		<!--span style="font-size:.7em">Opacity</span-->
		<input type="range" min=0 max=100
		style="margin-left:10px;width:80px;display:inline-block"/>
		<button style="display:inline-block">Remove</button>
	</div>


</div>

