<div>

	<div class="sidebar-title">
		<span>MENU</span>

	</div>

	<div class="inner">

		<div class="lines-ctrls">	

			<div class="ui-select-container lines">
				<ui-select class="search-dropdown lines"
					ng-model="$ctrl.selected"
					on-select="$ctrl.onUpdateLineWrapper({line: $ctrl.selected});$ctrl.gaEvent()">
					<ui-select-match placeholder="Search Lines">
						{{$ctrl.selected}}
					</ui-select-match>
					<ui-select-choices repeat="line in $ctrl.searchLines | filter:$select.search" 
						value="'{{::line.name}}'">{{::line.name}}</ui-select-choices>
				</ui-select>
			</div>

			<input type="file" id="upload" name="pic" accept="image/*" 
				style="display:none" multiple/>

			<a href="#/overview#top">
				<button class="overview-button">Lines Overview</button>
			</a>

			<a href="images/4-TiffStacks/{{$ctrl.selected}}.tif" download>
				<button class="download-line">Download</button>
			</a>			

			<button class="share-button"
			ng-click="$ctrl.onOpenShareDialogWrapper()">Share</button>

			<div style="margin-left:20px;margin-top:10px;">
				<form autocomplete="off" ng-submit="$ctrl.onAdjustLine({line: $ctrl.selected,
						brightness: $ctrl.brightness, gamma: $ctrl.gamma})">

					<div>
						<span class="img-modify-span">Brightness</span><br>
						<input type="number" step="any"
					 	id="brightness-input" class="img-modify-input"  
					 	ng-model="$ctrl.brightness">
					</div>	

					<div>
						<span class="img-modify-span">Gamma</span><br>
						<input type="number" step="any"
					 	id="gamma-input" class="img-modify-input"
					 	ng-model="$ctrl.gamma"/>
					</div>

					<div style="margin-top:0.2em">
						<button ng-hide="true" ng-click="$ctrl.onAdjustLine({line: $ctrl.selected,
							brightness: $ctrl.brightness, gamma: $ctrl.gamma})">Submit</button>
						<button class="reset-button" ng-click="$ctrl.resetValues()">Reset</button>
					</div>				
				</form>		

			</div>
		</div>

		<div class="regions-ctrls"> 

			<div class="ui-select-container">
				<ui-select class="search-dropdown cyan"
					ng-model="$ctrl.selectedMasks.cyan"
					on-select="$ctrl.onUpdateMaskWrapper({mask:
					$ctrl.selectedMasks.cyan.name, color:'cyan'})"
					on-remove="$ctrl.onUpdateMaskWrapper({mask:
					$ctrl.selectedMasks.cyan.name, color:'cyan'})">
					<ui-select-match placeholder="Search Regions" allow-clear="true">
						{{$ctrl.selectedMasks.cyan.name}}
					</ui-select-match>
					<ui-select-choices repeat="mask in $ctrl.masks | filter:$select.search" 
						value="'{{::mask.name}}'">{{::mask.name}} <span class="num">{{::mask.id}}</span></ui-select-choices>
				</ui-select>
			</div>

			<div class="ui-select-container">
				<ui-select class="search-dropdown magenta"
					ng-model="$ctrl.selectedMasks.magenta"
					on-select="$ctrl.onUpdateMaskWrapper({mask: 
					$ctrl.selectedMasks.magenta.name, color:'magenta'})"
					on-remove="$ctrl.onUpdateMaskWrapper({mask: 
					$ctrl.selectedMasks.magenta.name, color:'magenta'})">
					<ui-select-match placeholder="{{::$ctrl.placeholder}}" allow-clear="true">
						{{$ctrl.selectedMasks.magenta.name}}
					</ui-select-match>
					<ui-select-choices repeat="mask in $ctrl.masks | filter:$select.search" 
						value="'{{::mask.name}}'">{{::mask.name}} <span class="num">{{::mask.id}}</span></ui-select-choices>
				</ui-select>
			</div>

			<div class="ui-select-container">
				<ui-select class="search-dropdown green"
					ng-model="$ctrl.selectedMasks.green"
					on-select="$ctrl.onUpdateMaskWrapper({mask: 
					$ctrl.selectedMasks.green.name, color:'green'})"
					on-remove="$ctrl.onUpdateMaskWrapper({mask: null, color:'green'})">
					<ui-select-match placeholder="{{::$ctrl.placeholder}}" allow-clear="true">
						{{$ctrl.selectedMasks.green.name}}
					</ui-select-match>
					<ui-select-choices repeat="mask in $ctrl.masks | filter:$select.search" 
						value="'{{::mask.name}}'">{{::mask.name}} <span class="num">{{::mask.id}}</span></ui-select-choices>
				</ui-select>
			</div>

			<div class="ui-select-container">
				<ui-select class="search-dropdown yellow"
					ng-model="$ctrl.selectedMasks.yellow"
					on-select="$ctrl.onUpdateMaskWrapper({mask: 
					$ctrl.selectedMasks.yellow.name, color:'yellow'})"
					on-remove="$ctrl.onUpdateMaskWrapper({mask: 
					$ctrl.selectedMasks.yellow.name, color:'yellow'})">
					<ui-select-match placeholder="{{::$ctrl.placeholder}}" allow-clear="true">
						{{$ctrl.selectedMasks.yellow.name}}
					</ui-select-match>
					<ui-select-choices repeat="mask in $ctrl.masks | filter:$select.search" 
						value="'{{::mask.name}}'">{{::mask.name}} <span class="num">{{::mask.id}}</span></ui-select-choices>
				</ui-select>
			</div>

		</div>

		<div class="channel-ctrls">	
		
			<div class="ui-select-container">
				<ui-select class="search-dropdown red"
					ng-model="$ctrl.selectedColorChannels.red"
					on-select="$ctrl.onUpdateColorChannel({line: 
					$ctrl.selectedColorChannels.red.name, color:'red'})"
					on-remove="$ctrl.onUpdateColorChannel({line: 
					$ctrl.selectedColorChannels.red.name, color:'red'})">
					<ui-select-match placeholder="Search Color Channels" allow-clear="true">
						{{$ctrl.selectedColorChannels.red.name}}
					</ui-select-match>
					<ui-select-choices repeat="line in $ctrl.lines | filter:$select.search" 
						value="'{{::line}}'">{{::line.name}}</ui-select-choices>
				</ui-select>
				<input type="range" class="red-overlay slider"
					ng-show="!!$ctrl.selectedColorChannels.red" min="0" max="90" 
					ng-change="$ctrl.onUpdateOpacity({val:
					$ctrl.colorChannelOpacities.red,	color:'red'})"
					ng-model="$ctrl.colorChannelOpacities.red"/>
			</div>

			<div class="ui-select-container">
				<ui-select class="search-dropdown blue"
					ng-model="$ctrl.selectedColorChannels.blue"
					on-select="$ctrl.onUpdateColorChannel({line: 
					$ctrl.selectedColorChannels.blue.name, color:'blue'})"
					on-remove="$ctrl.onUpdateColorChannel({line: 
					$ctrl.selectedColorChannels.blue.name, color:'blue'})">
					<ui-select-match placeholder="{{::$ctrl.placeholder}}" allow-clear="true">
						{{$ctrl.selectedColorChannels.blue.name}}
					</ui-select-match>
					<ui-select-choices repeat="line in $ctrl.lines | filter:$select.search" 
						value="'{{::line}}'">{{::line.name}}</ui-select-choices>
				</ui-select>
				<input type="range" class="blue-overlay slider"
					ng-show="!!$ctrl.selectedColorChannels.blue" min="0" max="90" 
					ng-change="$ctrl.onUpdateOpacity({val:
					$ctrl.colorChannelOpacities.blue,	color:'blue'})"
					ng-model="$ctrl.colorChannelOpacities.blue"/>
			</div>

			<div class="ui-select-container">
				<ui-select class="search-dropdown green"
					ng-model="$ctrl.selectedColorChannels.green"
					on-select="$ctrl.onUpdateColorChannel({line: 
						$ctrl.selectedColorChannels.green.name, color:'green'})"
					on-remove="$ctrl.onUpdateColorChannel({line: 
						$ctrl.selectedColorChannels.green.name, color:'green'})">
					<ui-select-match placeholder="{{::$ctrl.placeholder}}" allow-clear="true">
						{{$ctrl.selectedColorChannels.green.name}}
					</ui-select-match>
					<ui-select-choices repeat="line in $ctrl.lines | filter:$select.search" 
						value="'{{::line}}'">{{::line.name}}</ui-select-choices>
				</ui-select>
				<input type="range" class="green-overlay slider"
					ng-show="!!$ctrl.selectedColorChannels.green" min="0" max="90" 
					ng-change="$ctrl.onUpdateOpacity({val:
					$ctrl.colorChannelOpacities.green,	color:'green'})"
					ng-model="$ctrl.colorChannelOpacities.green"/>
			</div>

		</div>
	</div>

</div>



