<!--lines/lines.html-->
<div id="viewer-container" style="wwidth:1400px;">
	<div id="sidebar">
		<sidebar-component
			lines="$ctrl.lines"
			on-update-line="$ctrl.updateLine(line)"
			on-adjust-line="$ctrl.adjustLine(line, brightness, gamma)"
			on-update-brightness="$ctrl.updateBrightness(brightness)">
		</sidebar-component>
		<br>

	</div>
	<div id="viewer">
		<div id="spin"></div>
		<viewer-component
			line-images="$ctrl.lineImages"
			line-name="$ctrl.lineName"
			brightness="$ctrl.brightness"
			gamma="$ctrl.gamma">
		</viewer-component>
	</div>

</div>



