<!DOCTYPE html>
<html>
<title><%= title %></title>
<meta name="description" content="Z-Brain Atlas: An open source
Zebrafish brain atlas. The Z-Brain was built as a neuroanatomical
reference atlas for the zebrafish neuroscience community.  We hope
that this resource will be valuable for exploring and understanding
the 6dpf zebrafish brain, and for automated and standardized
annotation of new anatomical and functional data.">
<meta name="keywords" content="Z-Brain, zebrafish, danio rerio atlas, 2-photon, pERK, tERK, labeling">
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/slider.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/dropdown.min.css" /><!--Semantic UI-->
<link rel="stylesheet" href="css/transition.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="lib/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/dropdown.min.js"></script>
<script type="text/javascript" src="lib/transition.min.js"></script>
<script type="text/javascript" src="lib/spin.min.js"></script>
<script type="text/javascript" src="lib/jquery.spin.js"></script>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-ui-router.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108664780-1"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108664780-1');
</script>

<script src=<%=main %>></script>
<body ng-app="zBrain">

	<nav-component></nav-component>

	<div class="main">	

	
		<ui-view></ui-view>

	</div>
	
	<script type="text/ng-template" id="/home.html">

		<div class="header">
			<h1 class="title">Z Brain Atlas</h1>
		</div>

		<lines-component></lines-component>	
	</script>

</body>
</html>
