<!--viewer/viewer.html-->
<div>
	<div class="viewer-title">
		<span>VIEWER</span>
	</div>
	<div class="viewer-ctrl-panel">
		<div class="current-text">
			<span class="line-name">{{$ctrl.currentLineName}}<span>
			<span class="line-number">&nbsp&nbsp{{$ctrl.sliceIndex}}</span><span class="line-number">/137</span>
		</div>
		<div class="z-index-div"> 
			<input class="z-index-slider" type="range" orient="horizontal"
			 ng-change="$ctrl.updateSlice()"
			 ng-model="$ctrl.sliceIndex" 
			 ng-touchmove="$ctrl.updateSlice()"	
			 min="0" max="137" value="90"/>
			 <br>
		</div>
	</div>

	<div id="display-images" class="display-images">
		<img class="primary-line-image" ng-src="{{$ctrl.currentDisplayImage}}"
			alt="primary-line-image"/>

		<img id="red-color-channel" ng-src="{{$ctrl.currentDisplayColorChannels['red']}}"
			ng-style="{'opacity':$ctrl.colorChannelOpacities['red']}"
			class="color-channel" alt="red-color-channel"/>
		<img id="green-color-channel" ng-src="{{$ctrl.currentDisplayColorChannels['green']}}"
			ng-style="{'opacity':$ctrl.colorChannelOpacities['green']}"
			class="color-channel" alt="green-color-channel"/>
		<img id="blue-color-channel" ng-src="{{$ctrl.currentDisplayColorChannels['blue']}}"
			ng-style="{'opacity':$ctrl.colorChannelOpacities['blue']}"
			class="color-channel" alt="blue-color-channel"/>	

		<img id="mece-region" ng-src="{{$ctrl.meceDisplayRegion}}"
			class="region-img" alt="mece-region"/>

		<img id="cyan-region" ng-src="{{$ctrl.currentDisplayRegions['cyan']}}"
			class="region-img" alt="cyan-region"/>
		<img id="magenta-region" ng-src="{{$ctrl.currentDisplayRegions['magenta']}}"
			class="region-img" alt="magenta-region"/>
		<img id="green-region" ng-src="{{$ctrl.currentDisplayRegions['green']}}"
			class="region-img" alt="green-region"/>
		<img id="yellow-region" ng-src="{{$ctrl.currentDisplayRegions['yellow']}}"
			class="region-img" alt="yellow-region"/>
	</div>

</div>



