<div>
	<div style="background-color:#ddd;padding-left:5px;">
		<span style="color:black;font-family:serif;"><b>Menu</b></span>
	</div>

	<div style="padding:10px 10px 30px 10px;">	
		<select select-directive class="ui search dropdown"
			ng-model="$ctrl.selected"
			ng-change="$ctrl.onUpdateLine({line: $ctrl.selected})">
			<option value="">Search Line</option>
			<option ng-repeat="item in $ctrl.lines"
				ng-value="'{{item}}'">
				{{item}}
			</option>
		</select>
		
		<div style="margin-left:20px;margin-top:10px;">
			<span style="font-size: 0.8em"><em>Adjust Brightness</em></span>
			<div>
			<input type="text"
			 style="" ng-attr-placeholder="Enter Value"
			 id="brightness-input" class="img-modify-input"  
			 ng-model="$ctrl.brightness"
			 ng-change="$ctrl.onUpdateBrightness({brightness: $ctrl.brightness})">
			</div>	

			<span style="font-size: 0.8em"><em>Adjust Gamma</em></span>
			<div>
			<input type="text"
			 style="" placeholder="Enter Value"
			 id="gamma-input" class="img-modify-input"
			 ng-model="$ctrl.gamma"/>
			</div>

			<div style="margin-top:0.3em">
				<button ng-click="$ctrl.onAdjustLine({line: $ctrl.selected,
			 		brightness: $ctrl.brightness, gamma: $ctrl.gamma})">Submit</button>
				<button ng-click="$ctrl.resetValues()">Reset</button>
			</div>
		</div>


	</div>

	<div style="padding:10px 10px 30px 10px;">	
		<select select-directive class="ui search dropdown">
			<option value="">Search Mask</option>
			<option value="mask1">Mask 1</option>
			<option value="mask2">Mask 2</option>
		</select>
	</div>


</div>

