<div>

	<div class="menu-title" style="z-index:1000;background-color:#ddd;padding-left:5px;">
		<span style="color:black;font-family:serif;"><b>Menu</b></span>
	</div>

	<div class="inner">
		<div class="lines-ctrls" style="padding:10px 10px 30px 10px;">	
			<select select-directive class="ui search dropdown"
				ng-model="$ctrl.selected"
				ng-change="$ctrl.onUpdateLineWrapper({line:
				$ctrl.selected});$ctrl.gaEvent()">
				<option value="">Search Lines</option>
				<option value="{{'Upload' + Date.toString()}}" style="font-weight:bold">
					Upload (Image Slices)</option>
				<option ng-repeat="line in $ctrl.lines" ng-value="'{{::line}}'">
					{{::line}}
				</option>	
			</select>
			<input type="file" id="upload" name="pic" accept="image/*" 
				style="display:none" multiple/>

			<a href="images/4-TiffStacks/{{$ctrl.selected}}.tif" download>
				<button class="download-line">Download</button>
			</a>			
			<div style="margin-left:20px;margin-top:10px;">
				<form autocomplete="off" ng-submit="$ctrl.onAdjustLine({line: $ctrl.selected,
						brightness: $ctrl.brightness, gamma: $ctrl.gamma})">

					<span style="font-size: 0.8em"><em>Adjust Brightness</em></span>
					<div>
						<input type="number" step="any"
					 	id="brightness-input" class="img-modify-input"  
					 	ng-model="$ctrl.brightness">
					</div>	

					<span style="font-size: 0.8em"><em>Adjust Gamma</em></span>
					<div>
						<input type="number" step="any"
					 	id="gamma-input" class="img-modify-input"
					 	ng-model="$ctrl.gamma"/>
					</div>

					<div style="margin-top:0.2em">
						<button ng-hide="true" ng-click="$ctrl.onAdjustLine({line: $ctrl.selected,
							brightness: $ctrl.brightness, gamma: $ctrl.gamma})">Submit</button>
						<button
						style="border-radius:1px;margin-left:0px;margin-top:10px;min-width:70px;""color:#146ec8dd;"
							ng-click="$ctrl.resetValues()">Reset</button>
					</div>				
				</form>
			
				<a href="#/overview">
					<button class="overview-button">Lines Overview</button>
				</a>
			</div>
		</div>

		<div class="regions-ctrls"> 
			
			<select select-directive class="ui search dropdown cyan"
				ng-model="$ctrl.masks.cyan"
				ng-change="$ctrl.onUpdateMask({mask: $ctrl.masks.cyan, color:'cyan'})">
				<option value="">Search Regions</option>
				<option value="None">None</option>
				<option ng-repeat="mask in $ctrl.masks" ng-value="'{{::mask}}'">
					{{::mask}}
				</option>
			</select>
			
			<select select-directive class="ui search dropdown magenta"
				ng-model="$ctrl.masks.magenta"
				ng-change="$ctrl.onUpdateMask({mask: $ctrl.masks.magenta, color:'magenta'})">
				<option value="">--------------------------------</option>
				<option value="None">None</option>
				<option ng-repeat="mask in $ctrl.masks" ng-value="'{{::mask}}'">
					{{::mask}}
				</option>
			</select>
			
			<select select-directive class="ui search dropdown green"
				ng-model="$ctrl.masks.green"
				ng-change="$ctrl.onUpdateMask({mask: $ctrl.masks.green, color:
				'green'})">
				<option value="">--------------------------------</option>
				<option value="None">None</option>
				<option ng-repeat="mask in $ctrl.masks" ng-value="'{{::mask}}'">
					{{::mask}}
				</option>
			</select>

			<select select-directive class="ui search dropdown yellow"
				ng-model="$ctrl.masks.yellow"
				ng-change="$ctrl.onUpdateMask({mask: $ctrl.masks.yellow, color:'yellow'})">
				<option value="">--------------------------------</option>
				<option value="None">None</option>
				<option ng-repeat="mask in $ctrl.masks" ng-value="'{{::mask}}'">
					{{::mask}}
				</option>
			</select>

		</div>

		<div class="channel-ctrls" style="padding:10px 10px 30px 10px;
			margin-bottom: 50px;">		

			<select select-directive class="ui search dropdown red"
				ng-model="$ctrl.colorChannels.red"
				ng-change="$ctrl.onUpdateColorChannel({line: $ctrl.colorChannels.red, color:'red'})">
				<option value="">Search Color Channels</option>
				<option value="None">None</option>
				<option ng-repeat="line in $ctrl.lines" ng-value="'{{::line}}'">
					{{::line}}
				</option>
			</select>	
			<div>
			<input type="range" class="red-overlay slider"
				ng-show="$ctrl.colorChannels.red!='None'"
				ng-change="$ctrl.onUpdateOpacity({val: $ctrl.colorChannelOpacities.red, color:'red'})"	
        ng-model="$ctrl.colorChannelOpacities.red"
				min="0" max="90" value="50"/>
				
			</div>

			<select select-directive class="ui search dropdown green"
				ng-model="$ctrl.colorChannels.green"
				ng-change="$ctrl.onUpdateColorChannel({line: $ctrl.colorChannels.green, color:'green'})">
				<option value="">--------------------------------</option>
				<option value="None">None</option>
				<option ng-repeat="line in $ctrl.lines" ng-value="'{{::line}}'">
					{{::line}}
				</option>
			</select>
			<input type="range" class="green-overlay slider"
				ng-show="$ctrl.colorChannels.green!='None'" min="0" max="90" 
        ng-change="$ctrl.onUpdateOpacity({val:
				$ctrl.colorChannelOpacities.green,	color:'green'})"
				ng-model="$ctrl.colorChannelOpacities.green"/>

			<select select-directive class="ui search dropdown blue"
				ng-model="$ctrl.colorChannels.blue"
				ng-change="$ctrl.onUpdateColorChannel({line: $ctrl.colorChannels.blue, color:'blue'})">
				<option value="">--------------------------------</option>
				<option value="None">None</option>
				<option ng-repeat="line in $ctrl.lines" ng-value="'{{::line}}'">
					{{::line}}
				</option>
			</select>
			<input type="range" class="blue-overlay slider"
				ng-show="$ctrl.colorChannels.blue!='None'"
        ng-change="$ctrl.onUpdateOpacity({val:
				$ctrl.colorChannelOpacities.blue, color:'blue'})"	
        ng-model="$ctrl.colorChannelOpacities.blue"/>

		</div>
	</div>

</div>



