<div>
	<div style="background-color:#555">
		<span style="color:white">Menu</span>
	</div>
	
	<select select-directive class="ui search dropdown"
		ng-model="$ctrl.selected"
		ng-change="$ctrl.onUpdateLine({line: $ctrl.selected})">
		<option value="">Select Line</option>
		<option ng-repeat="item in $ctrl.lines"
			ng-value="'{{item}}'">
			{{item}}
		</option>
	</select>
	<br>
	<select select-directive class="ui search dropdown">
		<option value="">Select Mask</option>
		<option value="mask1">Mask 1</option>
		<option value="mask2">Mask 2</option>
	</select>

</div>

