<style>
h1 {
	margin: 0 0 30px -7px;
    font-weight: bold;
    font-family: Helvetica; }

h2 {
	color: #888;
	font-weight: 100; }

h3 { color: #888; }
a { color: #38c; }

img {
	width: 800px;
	height: 450px; }

.content {
    margin: 40px 50px 70px 50px;
    width: 90vw;
    text-align: justify;
    font-family: Raleway, Helvetica, sans-serif; }

.content p { margin-left: 10px; }

.str {
    font-weight: bold;
    font-family: Helvetica; }


@media screen and (min-width:1800px) {

	.content { margin: 4vh 0 0 4vw !important ; }

	br { line-height: 300%; }

	img {
		width: 70vh;
		height: auto; }
}
</style>

<div class="content"> 
	<h1>About Z Brain Atlas</h1>
	<h2>The Z Brain</h2>
	<br>
	<p>	We built the Z-Brain in order to provide a reference brain
	atlas for function and anatomy studies of the larval zebrafish
	brain <a href="http://www.nature.com/nmeth/journal/v12/n11/abs/nmeth.3581.html"
	target="_blank">(Randlett et al., 2015)</a>. The Z Brain is a 3-Dimension reference atlas, that contains
	neuroanatomy labels and region definitions within its standardized
	coordinate space.
	The Z-Brain was built as a neuroanatomy reference atlas for the
	zebrafish neuroscience community. It has been built on a 6dpf Nacre/mitfa
	mutant larvae stained with anti-ERK. By registering fish stained with
	different anatomy markers (antibody stains, transgenes, dye fills)
		to this common reference brain, we have created a platform where
		many labels can be explored in the same reference space. We
		currently have 29 labels registered to the atlas. For each label we
		register multiple fish, and then represent that label as the mean
		across fish, allowing for visualization of the average positioning
		and staining of these neurons or features. Based on these markers,
		we have also segmented to brain into 294 regions.

	</p>
	<p>We hope that this resource will be valuable for exploring and
		understanding the 6dpf zebrafish brain, and for automated and
		standardized annotation of new function and anatomy data.
		This can be accomplished by registering new datasets into the
		atlas, allowing for comparison to the accumulated
		dataset. We encourage anyone interested in helping us expand
		and improve the atlas, either by incorporating additional
		labels, or by expanding or improving the region
		segmentation, to please contact Owen Randlett at
		<a href="mailto:zebrafishbrain@gmail.com">zebrafishbrain@gmail.com</a>.</p>
	<br>
	<h2>Using the Z-Brain Web Interface to explore anatomy</h2>
		<p>To view the data, you can either use the <a href="/home">web
		interface</a>. This can get you oriented with the data, and
		overlay masks of regions onto any of the anatomical labels. Below is
		a diagram of the different buttons and functions.</p>
		<br>
		<h3>Searching and Loading Lines</h3>
			<p><img alt="Selecting Lines" src="gifs/Selecting_Lines.gif"></p>
			<br>
		<h3>Searching and Loading Regions</h3>
			<p><img alt="Selecting Regions" src="gifs/Selecting_Regions.gif"></p>
			<br>
		<h3>Searching and Loading Color Channels</h3>
			<p><img alt="Selecting Channels" src="gifs/Selecting_Channels.gif"></p>
			<br>
		<h3>Uploading your Stacks</h4>
			<p><img alt="Uploading Lines" src="gifs/Uploading_Lines.gif"></p>
			<br>
		<br>
	<h2>Using the Matlab Viewer to Explore Anatomy</h2>
		<p>To explore the Z-Brain in more detail, you can use the
		Matlab-based viewer that we have built. You need to download the
		files below, and run the viewer in Matlab. This will allow you to
		perform multicolour overlays of labels and regions, ‘click to find’
		regions, view in different slice orientations, write slices or
		stacks to disk, and draw or update regional definitions.
		Instructions for the various functions are displayed when the
		program starts, and commented in the header of the ‘ZBrainViewer.m’
		function.
		</p>
		<p><span class="str">The three files you will need are:</span>
		<br><br>
			<ol>
				<li><a href="https://github.com/owenrandlett/Z-Brain/archive/master.zip" 
				target=_blank download>ZBrainViewer</a></li>
				 <dd>- Unzip this directory, which contains the Matlab script 'ZBrainViewer.m' that runs the viewer.</dd>
				 <br>
				<li><a href="downloads/AnatomyLabelDatabase.hdf5" target=_blank download>
				Anatomy Label Database</a></li>
				 <dd> - This is an image file that contains the stacks of
			 the labels (transgenes, antibody stains, etc). Each stack
				is a mean across multiple fish. It is an HDF5 file, and so
			can also be loaded into different viewing programs. The
				resolution of the data is x/y/z = 0.798/0.798/2um.
				<br><em><strong>Warning: file size is ~4.5gb.</strong></em></dd>
				<br>
				<li><a href="downloads/MaskDatabase.mat" target=_blank download>Mask Database</a></li>
				 <dd> - This is the file that contains the regional
				definitions. It is a compressed Matlab file. If you would
				like the regions in an image format, please contact me.</dd>
			</ol>
		</p>
		<p>
		<br>
		<span class="str">Download these three files and put them in your Matlab
		path. Then run the ‘ZBrainViewer’ function.</span>
		</p>
		</div>
	</div>
</div>
