<h1>About</h1>
<p>The Z-Brain
We built the Z-Brain in order to provide a standard reference brain
atlas for anatomical and functional studies of the larval zebrafish
brain []. The Z-Brain is a 3D reference atlas, that contains
neuroanatomical labels and regional definitions within a standard
coordinate space.
The Z-Brain was built as a neuroanatomical reference atlas for the
zebrafish neuroscience community. It was built upon a 6dpf Nacre/mitfa
mutant larvae stained with anti-ERK. By registering fish stained with
different anatomical markers (antibody stains, transgenes, dye fills)
	to this common reference brain, we have created a platform where
	many labels can be explored in the same reference space. We
	currently have 29 labels registered to the atlas. For each label we
	register multiple fish, and then represent that label as the mean
	across fish, allowing for visualization of the average positioning
	and staining of these neurons or features. Based on these markers,
	we have also segmented to brain into 294 regions.
</p>
