<style>
h1 {
	margin: 0 0 0 -7px;
	font-family: Raleway, Helvetica, sans-serif;
	font-weight: 400; }

h2 { color: #333; }

h3 {
	font-weight: 100;
	color: #888; }

a { color: #38c; }

.content {
	margin: 40px 50px 70px 50px;
	font-family: Helvetica, sans-serif;
	width: 90vw;
	display: inline-block; }

.content p { margin-left: 10px; }

.download-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0px;
	margin: 30px 0 0 0; }

.download {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	margin-right: 3%;
	margin-bottom: 5%;
	padding: 35px 10px 20px 10px;
	height: 180px;
	width: 250px;
	border-top: 1px outset #11111105;
	border-right: 1px outset #22222205;
	border-bottom: 4px outset #22222233;
	border-left: 1px outset #00000005;
	border-radius: 3px;
	transition: box-shadow 300ms ease;
	transition: transform 300ms ease; }

.download:hover {
	cursor: pointer;
	box-shadow: 0 0 30px -5px #bbbbbb11;
	transform: scale(1.01);
	border-top: 1px outset #00000005;
	border-right: 1px outset #22222205;
	border-bottom: 4px outset #22222244;
	border-left: 1px outset #00000205; }

.download a { text-decoration: none; }

.download a:hover { color: #38c }

.download p {
	font-size: 0.8em;
	font-weight: 100; }

.disable { pointer-events: none; }
</style>

<div class="content"> 
	<h1 style="margin: 0 0 0px -7px;">Downloads</h1>

	<div class="download-container">

		<div class="download" style="">
			<div style="display:flex;align-items:center;">
				<h3 align="center">
					<a href="https://github.com/owenrandlett/Z-Brain/archive/master.zip"
					download>
						Z-Brain Viewer & Analysis Scripts
					</a>
				</h3>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/Example_raw_data.zip" class="disable" download>
						Example Raw Data
					</a>
				</h3>
				<p align="center">A. Bahl generated TIFF stack</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="https://github.com/owenrandlett/Z-Brain.git"
					class="disable" target=_blank>
						Z-Brain on Github
					</a>
				</h3>
				<p align="center">MAPMap, viewer & analysis scripts</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/AnatomyLabelDatabase.hdf5" class="disable" download>
						Anatomy Database
					</a>
				</h3>
				<p align="center">Anatomy database HDF5 archive</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/Harvard_MH_Database.hdf5" class="disable" download>
						Harvard MH Database
					</a>
				</h3>
				<p align="center">Harvard M.H. database HDF5 archive</p>
			</div>
		</div>



		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/ZBBDatabase.hdf5" class="disable" download>
						ZBB Database
					</a>
				</h3>
				<p align="center">ZBB database hdf5 archive</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/MaskDatabase.mat" class="disable" download>
						Mask Database
					</a>
				</h3>
				<p align="center">Masks as compressed Matlab file</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/Ref20131120pt14pl2.nrrd" class="disable" download>
						Reference Brain
					</a>
				</h3>
				<p align="center">Nrrd Reference Brain image stack</p>
			</div>
		</div>
	
		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/_Map-Maps_NatMethodsSubmission.zip"
					class="disable" download>
						MAP-Maps
					</a>
				</h3>
			</div>
		</div>

	</div>
</div>

<script>
	$(".download").on('click', function(e) {
		let anchor =	$(this).find('a');
		window.location = anchor.attr('href');
	});
</script>
