<style>
h1 {
	font-family: helvetica;
	font-weight: bold;
}
h2 {
	color: grey;
}
a {
	color: #38c;
}
.content {
	margin: 40px 50px 70px 50px;
	font-family: Raleway;
	width: 90vw;
	display: inline-block;
}

.content p {
	margin-left: 10px;
}

.download-container {
	padding: 0px;
	margin-left: 4%;
}

.download {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	margin-right: 3%;
	padding: 30px;
	padding-top: 50px;
	height: 250px;
	width: 250px;
	border: 2px solid rgba(100, 100, 100, 0.4);
	border-radius: 5px;
	box-shadow: 0 0 2px #bbb;
	transition: all .3s ease; 
	transition: box-shadow .3s ease; 
}

.download:hover {	
	transform: scale(1.01);
	box-shadow: 0 0 10px #aaa;
}

.download a {
	text-decoration: none;
}

.download h3 {
}

.download p {
	font-size: 0.8em;	
}

</style>
<div class="content"> 
	<h1 style="margin: 0 0 0px -7px;">Downloads</h1>

	<div id="spacer" style="height:100px;width:100%"></div>	

	<div class="download-container">

		<div class="download" style="">
			<div style="display:flex;align-items:center">
				<h3 align="center">
					<a href="https://github.com/owenrandlett/Z-Brain/archive/master.zip"
					download>
						Z-Brain Viewer & Analysis Scripts
					</a>
				</h3>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="https://github.com/owenrandlett/Z-Brain.git"
					target=_blank>
						Z-Brain on Github
					</a>
				</h3>
				<p align="center">MAPMap, viewer & analysis scripts</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/AnatomyLabelDatabase.hdf5" download>
						Anatomy Database
					</a>
				</h3>
				<p align="center">Anatomy database HDF5 archive</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/Harvard_MH_Database.hdf5" download>
						Harvard MH Database
					</a>
				</h3>
				<p align="center">Harvard M.H. database HDF5 archive</p>
			</div>
		</div>



		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/ZBBDatabase.hdf5" download>
						ZBB Database
					</a>
				</h3>
				<p align="center">ZBB database hdf5 archive</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/MaskDatabase.mat" download>
						Mask Database
					</a>
				</h3>
				<p align="center">Masks as compressed Matlab file</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/Ref20131120pt14pl2.nrrd" download>
						Reference Brain
					</a>
				</h3>
				<p align="center">Nrrd Reference Brain image stack</p>
			</div>
		</div>
	
		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/_Map-Maps_NatMethodsSubmission.zip"
					download>
						MAP-Maps
					</a>
				</h3>
			</div>
		</div>

	</div>
