<link rel="stylesheet" href="css/downloads.css" />
<div class="content"> 
	<h1 style="margin: 0 0 0px -7px;">Downloads</h1>

	<div class="download-container">

		<div class="download" style="">
			<div style="display:flex;align-items:center;">
				<h3 align="center">
					<a href="https://github.com/owenrandlett/Z-Brain/archive/master.zip"
					download>
						Z-Brain Viewer & Analysis Scripts
					</a>
				</h3>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a
					href="downloads/Example_raw_data.zip"
					download>Example Raw Data
					</a>
				</h3>
				<p align="center">A. Bahl generated TIFF stack</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="https://github.com/owenrandlett/Z-Brain.git"
					target=_blank>
						Z-Brain on Github
					</a>
				</h3>
				<p align="center">MAPMap, viewer & analysis scripts</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/AnatomyLabelDatabase.hdf5" download>
						Anatomy Database
					</a>
				</h3>
				<p align="center">Anatomy database HDF5 archive</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/Harvard_MH_Database.hdf5" download>
						Harvard MH Database
					</a>
				</h3>
				<p align="center">Harvard M.H. database HDF5 archive</p>
			</div>
		</div>



		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/ZBBDatabase.hdf5" download>
						ZBB Database
					</a>
				</h3>
				<p align="center">ZBB database hdf5 archive</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/MaskDatabase.mat" download>
						Mask Database
					</a>
				</h3>
				<p align="center">Masks as compressed Matlab file</p>
			</div>
		</div>

		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/Ref20131120pt14pl2.nrrd" download>
						Reference Brain
					</a>
				</h3>
				<p align="center">Nrrd Reference Brain image stack</p>
			</div>
		</div>
	
		<div class="download" style="">
			<div>
				<h3 align="center">
					<a href="downloads/_Map-Maps_NatMethodsSubmission.zip"
					download>
						MAP-Maps
					</a>
				</h3>
			</div>
		</div>

	</div>
</div>

<script>
	$(".download").on('click', function(e) {
		let anchor =	$(this).find('a');
		window.location = anchor.attr('href');
	});
</script>
