<style>
h1 {
    font-family: helvetica;
    font-weight: bold;
}
h2 {
		color: #333;
		font-size: 1.7em;
}
a {
    color: #38c;
}
.content {
    margin: 40px 50px 70px 50px;
    font-family: Raleway;
    width: 90vw;
		text-align: justify;
}
    
.content p {
    margin-left: 10px;
}
.str {
    font-weight: bold;
    font-family: helvetica;
}
@media screen and (min-width:1800px) {
	.content {
		margin: 4vh 0 0 4vw !important ;
	}
	br {
		line-height: 300%;
	}
}


</style>
<div class="content"> 
 	<h1 style="margin: 0 0 30px -5px;">FAQ</h1>
	<div style="margin-left:10px;">
    <h2>• The fish I want to register are not 6 dpf, can I still
        register them to the Z-Brain?</h2>
				<br>
        <p>If the fish are not of the correct stage (6dpf), you
        certainly can still run the registration and attempt to align
        them to the atlas. But, since the fish brain is rapidly
        growing and maturing at these stages, there will be substantial
        differences in anatomy between stages. So we would recommend
        that you stick with the 6dpf stage, and we will not include
        any non-6dpf data in the Z-Brain database.</p>
            <br><br>	
     <h2>• My fish are not in the Nacre background, can I use PTU
        instead to prevent pigment formation?</h2>
				<br>
        <p>You can do this, but PTU causes artifacts like delayed
        development and altered behaviour. So we would only like to
        use this as a last resort. An alternative is to bleach
        pigmented fish. Using 3%H2O2, 1%KOH in water for 20-30min
        after the PFA fixation step can efficiently clear the melanin
        pigment. But, this bleaching can also destroy antigens and
        worsen staining (see for example <a
        href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0040132"
        target="_blank">Li et al., 2012, Plos One</a>).
        The ERK signal survives bleaching well, and so we would
        recommend bleaching over PTU, if your other stains are
        compatible.</p>
        <br><br>
      <h2>• We like to take our stacks of fish live, rather than
        fixing and staining with ERK. Can we use a live-marker for
        registration?</h2>
				<br>
        <p>Yes, in theory you can use any of the labels already
        contained in the Z-Brain as your registration channel. This
        includes multiple transgenes that can be imaged live. Or, if
        have a workhorse counter stain/line that you like to use, you
        can first incorporate this into the atlas by fixing some fish
        of this line, stain for ERK, and then register this stain into
        the atlas using ERK. You can use this newly registered line
        for your subsequent live-imaging registrations. Keeping in
        mind that registering to the Z-Brain via this indirect path
        (ie not registering directly to the original ERK brain), will
        not be as optimal as direct 1-step registration using the
        original stain.</p>
        <br><br>
      <h2>• What is the catalog number for the ERK antibody?</h2>
				<br>
        <p>anti-ERK (p44/42 MAPK (Erk1/2) (L34F12) Mouse mAb #4696,
        <a href="http://www.cellsignal.com/products/primary-antibodies/4696"
        target="_blank">http://www.cellsignal.com/products/primary-antibodies/4696</a>)</p>
        <br><br>
     	<h2>• The Z-Brain Viewer isn’t working. What might be wrong?</h2>
				<br>
        <p>Make sure you have the AnatomyLabelDatabase.hdf5, and
        MaskDatabase.mat file, that you are running a recent version
        of Matlab (post R2014a), and have the image processing
        toolbox. If this still isn’t working, please email me and send
        me any error messages you see.</p>
        <br><br>
      <h2>• What is the image resolution of the Z-Brain?</h2>
				<br>
        <p>The image resolution is the same as the reference brain. It
        is x/y/z = 0.798/0.798/2 um.</p>
	</div>
</div>
