html {
	-background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));

}

body {
	position: relative;
	overflow: scroll;
	background-color: rgb(255, 252, 250) !important;
	font-family: Helvetica !important;
	width: 1420px;
	min-height: 900px;
	height: calc(100vh - 50px);
}

.navbar {
	background-color: transparent !important;
	min-width: 1400px;
	width: 100%;
	font-family: Raleway, sans-serif;
	margin-left: 10px;
	margin-bottom: 0px !important;
	-box-shadow: 0px 2px 3px grey;

}

.navbar ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar-header h4 {
	color: #38c;
	font-family: Arial;
	font-size: 1.2em;
	font-weight: bold;
	margin: 16px 100px 0 10px;
}

.navbar li {
	display: inline;
	transition: background-color 0.5s ease;
}

.navbar li:hover {
	background-color: #ddd;
}

.navbar a {
	color: #49d !important;
}

#header {
	height: 120px;
	width: 100%;
	min-width: 1400px;
	position: relative;
	box-shadow: 10px 15px 25px #eee;
	margin-bottom: 40px;
	font-family: "Raleway", sans-serif !important;
}


#title {
	top: 10px;
	left: 500px;
	width: 400px;
	position: relative;
	font-family: Raleway, sans-serif;
	font-size: 4.5em; 
	color:#333;
	text-shadow: 2px 2px 2px #ccc;
	-background-color: grey;
}

#main {
	background-color: transparent;
	width: 1400px;
}

#viewer-container {
	width: 1450px;
}

#lines {
	border: 1px solid red;
	position: relative;
	display: inline-block;
	height: 600px;
	width: 1500px;
}

#sidebar {
	display: inline-block;
	vertical-align: top;
	background-color: #eee;
	-border: 1px solid grey;
	position: relative;
	height: 600px;
	width: 260px;
	margin-right: 20px;
	box-shadow: 1px 1px 1px #bbb;
	
}

.ui.search.dropdown {
	width: 100px !important;
	text-overflow: ellipsis;
}

.ui.search.dropdown .text {
	width: 150px !important;	
}

.cyan i {
	-color: cyan;
	box-shadow: 3px 0px 1px -1px cyan;
}

.magenta i {
	-color: magenta;
	box-shadow: 3px 0px 1px -1px magenta;
}

.green i {
	-color: green;
	box-shadow: 3px 0px 1px -1px green;
}

.yellow i {
	-color: yellow;
	box-shadow: 3px 0px 1px -1px yellow;
}

.red i {
	-color: red;
	box-shadow: 3px 0px 1px -1px red;
}
.blue i {
	-color: blue;
	box-shadow: 3px 0px 1px -1px blue;
}

#brightness-slider {
	width: 100px !important
}

#viewer {
	display: inline-block;
	background-color: #000;
	vertical-align: top;
	-border: 1px solid grey;
	position: relative;
	height: 600px;
	min-width: 1150px;
	box-shadow: -2px 2px 2px #bbb;

}

#z-index-slider {
	left: 250px;
	top: 83px;
	width: 340px !important;
	z-index: 50 ;
}

#primary-line-image {
	position: absolute;
	left: 0px;
	top: 90px;
	height: 440px !important;
	width: 1050px !important;
}

.color-channel {
	position: absolute;
	left: 0px;
	top: 90px;
	height: 440px;
	width: 1050px;
	z-index: 500;
	opacity: 0.5;
}

.mask-img {
	position: absolute;
	left: 0px;
	top: 90px;
	height: 440px;
	width: 1050px;
	z-index: 1000;
}

#temp-overlay {
	position: absolute;
	left: 0px;
	top: 90px;
	height: 440px;
	width: 1050px;
	opacity: .2;
}
