body {
	margin-left: 0;
	position: relative;
	overflow: scroll;
	font-family: Helvetica !important;
	height: calc(100vh - 50px);
	min-height: 900px;
	width: 1420px;
	background-color: rgb(255, 252, 250) !important;
	.content {
		padding: 30px 50px 0 60px;
		h1 { font-family: 'Raleway', Helvetica, sans-serif !important; }
	}
}

.navbar {
	min-width: 1450px;
	width: 100%;
	margin-left: 0px;
	margin-bottom: 0px !important;
	font-family: Raleway, sans-serif;
	font-size: 0.8em;
	border-color: transparent !important;
	background-color: transparent !important;
	border-right: 1px solid black;

	ul {
		list-style-type: none;
		margin-right: 20px;
	}

	li {
		display: inline;
		height: 40px !important;
		margin-right: 10px;
		border-bottom-left-radius: 1px !important;
		border-bottom-right-radius: 1px !important;
		border-radius: 2px !important;
		transition: all 0.3s ease;
		a {
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			line-height: 1 !important;
			color: #49d !important;
		}
	}

	.active {
		a {
			border-bottom: 1px solid #4499cc88;
			border-right: 1px solid #4499cc88;
			border-left: 1px solid #4499cc88;
			background-color: #11244b03 !important;
			border-radius: 4px !important;
			border-top-right-radius: 0px !important;
			border-top-left-radius: 0px !important;
			transition: all 0.2s ease;
			text-shadow: 1px 1px 0px #ffffff33;
			&:hover {
				border-radius: 4px !important;
				color: #fff !important;
				background-color: #4499dd99 !important;
				text-shadow: 1px 1px 0px #11111177;
			}
		}
	}

	li:hover {
		background-color: #4499dd99;
		a {
			color: white !important;
			font-weight: bold !important;
		}
	}

}


.navbar-header h4 {
	color: #38c;
	font-family: 'Arial', 'Helvetica Neue';
	font-size: 2.1em !important;
	font-weight: 700;
	margin: 9px 100px 0 10px;
	color: #fff;
	text-shadow: 1px 1px 2px #aaaaaaaa;
}


.header {
	height: 120px;
	width: 100%;
	min-width: 1410px;
	position: relative;
	margin-bottom: 40px;
	font-family: "Raleway", sans-serif !important;
	margin-left:-15px;
	box-shadow: -10px 15px 25px -3px #eeeeee55;
}

.title {
	top: 10px;
	left: 40%;
	width: 400px;
	position: relative;
	font-family: Raleway, sans-serif;
	font-size: 4.5em;
	color:#333;
	text-shadow: 2px 2px 4px #ccc;
}



.main {

	$main-width: 1500px;
	$main-inner-margin: 40px;
	background-color: transparent;
	width: $main-width;

	.lines-container {
		width: $main-width - $main-inner-margin;
		margin-left: $main-inner-margin;
		.share {
			visibility: hidden;
			position: fixed;
			bottom: 20px ;
			left: 340px;
			z-index: 3000;
			min-height: 200px;
			width: 700px;
			overflow-y: auto;
			padding: 10px 20px 20px 10px;
			background-color: #ffffffcc;
			border-radius: 5px;
			opacity: 0.01;
			box-shadow: 0 0 30px -5px #22222299;
			transition: all 400ms ease-out;
			font-family: Helvetica;

			button {
				position: absolute;
				bottom: 20px;
				right: 30px;
				width: 60px !important;
				border: none !important;
				border-radius: 3px;
			}

			.share-header {
				font-size: 1.3em;
				font-weight: bold;
			}
			.share-content {
				padding-left: 25px;
				font-size: 1em;
				opacity: 0.8;
			}
			.share-content a {
				font-size: 0.9em;
				text-decoration: none;
			}
		}
		.share-active {
			visibility: visible;
			opacity: 1;
		}

	}

}


.sidebar {
	display: inline-block;
	position: relative;
	overflow: auto;
	height: 600px;
	width: 240px;
	vertical-align: top;
	margin-right: 30px;
	border-top: 1px solid #eee;
	border-radius: 2px;
	background-color: #eee;
	box-shadow: 0px 0px 15px -2px #bbbbbb55;

	.sidebar-title {
		z-index: 1000;
  	padding-left: 5px;
		background-color: #e5e5e5;
		box-shadow: 0px 2px 10px -1px #4499cc11;
		span {
			opacity: 0;
			color: #333;
			font-family: monospace;
			font-weight: 100;
			font-size: 0.8em;
		}
	}

	.inner { padding-left: 10px; }

	button {
		font-family: "Open Sans", helvetica, sans-serif;
		border-radius: 0px;
	}

	.overview-button {
		margin: 10px 0 5px 20px;
		min-width: 160px;
		min-height: 28px;
		color: #49d;
		text-shadow: 0 0 2px #ffffff88;
		background: linear-gradient(#eee 0px, #ddd);
		border: 0px solid #aaaaaa00;
		transition: all .2s ease;
		box-shadow: 0 0 5px -2px #88888888;

		&:hover {
			border: 1px solid #aaaaaa44;
			//font-size: 1.05em;
			box-shadow: 0 0 6px -2px #88888888;
		}
	}

	.download-line {
		margin: 7px 0 5px 20px;
		min-width: 160px;
		min-height: 28px;
		color: #fdfdfd;
		background: linear-gradient(rgb(51, 136, 204) 0px, rgb(20, 110, 200) 100%);
		border: none;
		border-radius: 2px;
		box-shadow: 0 0 5px -2px #88888888;
		&:hover { border: 1px solid #ffffff88;}
	}

	.share-button {
		margin: 7px 0 0 20px;
		min-width: 160px;
		min-height: 28px;
		color: #fdfdfd;
		background: linear-gradient(rgb(51, 204, 136) 0px, rgb(20, 200, 110) 100%);
		border: none;
		border-radius: 2px;
		box-shadow: 0 0 5px -2px #88888888;
		&:hover { border: 1px solid #ffffff88}
	}

	.img-modify-input { &:focus { outline: none; } }
	.reset-button {
		border-radius: 4px;
		margin-left: 0px;
		margin-top: 10px;
		min-width: 50px;
	}

	form button {
		color: #111;
		border: none;
		margin-top: 12px;
		min-width: 70px;
		margin-right: 16px;
		background: linear-gradient(rgb(255, 255, 255) 0px, rgb(250, 250, 250) 100%);
 	}

	form span {
		font-family: monospace;
		font-size: 0.7em;
		font-style: italic;
	}

	button:focus { outline: none; }

	.lines-ctrls { padding: 20px 10px 30px 10px; }

	.regions-ctrls { padding: 0 10px 30px 10px; }

	.channel-ctrls {
		padding: 10px 10px 30px 10px;
		margin-bottom: 50px;
	}

	.ui-select-container {
		margin-bottom: 6px !important;
	}
	.ui-select-bootstrap {
		width: 200px !important;
		.glyphicon {
			left: 18px;
			line-height: 1.5;
			color: #ccc;
			&:hover { color: #cc5858 }
		}
	}
	.btn-default {
		transition: all 0.1s ease-out;
		&:hover { background-color: #fbfbfb; }
	}
	.btn-default-focus {
		outline: none;
		box-shadow: none;
	}

	$ui-select-choices-width: 500px;

	.ui-select-choices {
		width: $ui-select-choices-width;
		min-width: 100%;
		overflow-x: auto !important;
	}
	.ui-select-choices-row {
		width: $ui-select-choices-width;
		font-size: 0.8em !important;
		overflow-wrap: normal;
		.ui-select-choices-row-inner { padding-left: 15px }
		.num {
			font-size: 0.6em;
			color: white;
		}
	}

	.ui-select-choices-group-label {
		margin-left: -12px !important;
		font-size: 1.1em !important;
		font-weight: bold !important;
		//color: #e5f4ff;
		color: #4499cc33;
		//text-shadow: -1px -1px 0 #11111133, 1px -1px 0 #11111133, -1px 1px 0 #11111133, 1px 1px 0 #11111133;
	}
	.ui-select-match-text span {
		width: 163px !important;
		text-overflow: ellipsis;
	}

	.ui-select-container.lines {
		margin-bottom: 10px;
//		.ui-select-match { height: 40px !important; }
	}
	.search-dropdown.lines > div > span {
		height: 40px !important;
		line-height: 2;
		border-top: 1px outset #4499cc88;
		border-left: 1px outset #4499cc88;
		border-bottom: 1px outset #ffffff66;
		border-right: 1px outset #ffffff66;
	}
	.search-dropdown.cyan > div > span {
		border-bottom: 1px outset #00ffff55;
		border-right: 1px outset #00ffff55;
		.glyphicon:hover { color: cyan;}
	}
	.search-dropdown.magenta > div > span {
		border-bottom: 1px outset #ff00ff55;
		border-right: 1px outset #ff00ff55;
		.glyphicon:hover { color: magenta;}
	}
	.search-dropdown.green > div > span {
		border-bottom: 1px outset #00aa0055;
		border-right: 1px outset #00aa0055;
		.glyphicon:hover { color: limeGreen;}
	}
	.search-dropdown.yellow > div > span {
		border-bottom: 1px outset #ffff0066;
		border-right: 1px outset #ffff0066;
		.glyphicon:hover { color: yellow;}
	}
	.search-dropdown.blue > div > span {
		border-bottom: 1px outset #0000ff44;
		border-right: 1px outset #0000ff44;
		.glyphicon:hover { color: blue;}
	}
	.search-dropdown.red > div > span {
		border-bottom: 1px outset #ff000055;
		border-right: 1px outset #ff000055;
		.glyphicon:hover { color: red;}
	}

	.slider {
		margin: 10px 0 10px 4px !important;
		width: 191px !important;
	}

}

.viewer {
	display: inline-block;
	background-color: #000;
	vertical-align: top;
	position: relative;
	height: 600px;
	min-width: 1150px;
	border-radius: 2px;
	border-top: 1px solid #ddd;
	box-shadow: 0px 0px 15px -2px #bbbbbb55;
	border-top-right-radius: 2px;

	.viewer-title {
		border-top-right-radius: 1px;
		background-color: #ddd;
		padding-left: 5px;
		box-shadow: 0px 2px 10px -1px #ffffff55;
		span {
			opacity: 0;
			color: black;
			font-family: monospace;
			font-weight: 100;
			font-size: 0.8em;
		}
	}
	.viewer-ctrl-panel {
		position: absolute;
		top: 40px;
		left: 200px;
		z-index: 1000;

		.current-text {
			font-family: Helvetica;
			margin-left: 130px;
			transition: all 400ms ease;
			.line-name {
				margin-left: 60px;
				color: #49d;
				font-size: 1.5em;
				font-family: Helvetica, Monaco, monospace;
				font-weight: 400;
			}
			.line-number {
				color: #49d;
				opacity: 0.50;
				font-size: 0.6em;
				text-shadow: 1px 1px 2px #ffffff99;
				font-weight: 100;
				transition: all 300ms ease;
				transition-delay: 200ms;
			}

			.updating {
				opacity: 0.85;
				font-weight: 400;
				font-size: 0.7em;
			}
		}

		.z-index-div {
			margin: 10px 0 20px 55px;
			z-index: 2000;
		}

		.z-index-slider {
			top: 90px;
			width: 440px !important;
			z-index: 2000;
		}
	}

	@mixin viewer-image-props() {
		left: 10px;
		top: 90px;
		position: absolute;
		height: 440px !important;
		width: 1050 !important;
	}


	.primary-line-image { @include viewer-image-props(); }

	.color-channel {
		z-index: 500;
		opacity: 0.5;
		@include viewer-image-props();
	}

	.mask-img {
		z-index: 1000;
		@include viewer-image-props();
	}

}

.upload {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 120vh;
	width: 120vw;
	background-color: #ffffff66;
	transition: all 400ms ease;
	visibility: hidden;
	opacity: .01;

	.upload-container {
		position: absolute;
		top: 23%;
		left: 40vw;
		height: 430px;
		width: 400px;
		padding: 35px;
		padding-top: 50px;
		background-color: #fffffffc;
		border: 1px outset #ccc;
		border-radius: 2px;
		opacity: 1;
		box-shadow: 0 0 30px -5px #22222255;
	}

	.upload-info {
		white-space: normal;
		font-family: 'Raleway', Helvetica, Sans-serif;
		ol { font-family: Verdana; }
		input:focus { outline: None; }
	}

	.upload-close {
		position: absolute;
		top: 8px;
		right: 8px;
		background: linear-gradient(#fee 0px, #edd);
		border-radius: 5px;
		font-family: verdana;
		border: None;
		transition: all 200ms ease;
		&:focus { outline: None; }
		&:hover {
			background-color: lightGreen;
			color: black;
		}
	}

	.upload-form {
		margin-left: 0px;
		span { margin-left: 10px; }
	}

	.input-upload-wrapper {
		position: relative;
  	overflow: hidden;
  	display: inline-block;
		cursor: pointer;
		z-index: 2000;

		.input-upload-button {
			border: 1px solid #49c;
			cursor: pointer;
			color: #444;
			background-color: white;
			padding: 8px 20px;
			margin-right: 10px;
			border-radius: 8px;
			font-size: 20px;
			font-weight: bold;
			//transition: all 0.3s ease;
			&:hover {
				box-shadow: 2px 2px 2px black;
			}
		}

		input[type=file], input[type=submit] {
			font-size: 100px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			cursor: pointer;
		}
	}

	.input-line-name {
		width: 185px;
		min-width: 90%;
		height: 30px;
		padding: 5px;
		border: 1px inset #4499cc55;
		border-radius: 1px;
		text-indent: 10px;
		margin-top: 8px;
		&::placeholder { color: #ccc; }
		&:hover { border: 1px inset #4499cc99;}
	}


}

.upload-active {
	visibility: visible;
	opacity: 1;
}

.annotations {
	width: 1427px;
	margin: 70px 0 100px 0;
	padding-top: 20px;
	background-color: #fffcfa;
	font-size: .9em;

	tr {
		width: 100%;
	}

	table {
		width: 100%;
		font-family: "Raleway", "Open Sans", sans-serif;
		text-align: center;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		border-collapse: separate !important;
	}

	.top-table {
		box-shadow: 0px -10px 30px -7px #bbbbbb45;
	}
	.bottom-table {
		box-shadow: 0px 10px 30px -7px #bbbbbb20;
	}

	.headers {
		height: 35px;
		line-height: 0;
		background: linear-gradient(to bottom, #fffcfa, #f2f8ff, #f2f8ff, #f2f8ff, #f2f8ff);
	}

	.headers:first-of-type {
		max-width: 80px;
	}

	th {
		overflow: auto;
		min-width: 200px;
		padding: 8px;
		text-align: center;
		border-top: 1px solid #4499ddff;
		border-bottom: 1px inset #4499ddff;
		border-left: 1px solid #4499dddd;
		text-shadow: 1px 1px 2px #eee;
		color: #333;
		font-size: 1.1em;
		&:last-child { border-right: 1px solid #4499dddd; }
	}

	td {
		//border-left: 1px solid #eeeeee88;
		overflow: auto;
		padding: 3px 0 10px 0;
		text-align: center;
		text-shadow: 1px 1px 2px #ddddeecc;
		color: #889;
	}

	.notes {
		min-width: 100px;
		max-width: 350px;

		div {
			padding-top: 12px;
			height: 45px;
			overflow: scroll;
		}
	}

	.notice {
		margin: 30px 0 0 5px;
 		span {
			font-style: oblique;
			font-weight: bold;
			font-size: 0.7em;
			font-family:'Open Sans';
			color: #ccc;
			//box-shadow:0 0 15px -4px #111;
			text-shadow: 1px 1px 3px #88888844;
		}
	}
}

.overview {
	margin-top: 40px;

	.overview-keywords-bank {
		position: fixed;
		z-index: 200;
		height: calc(100vh - 100px);
		top: 91px;
		left: 20px;
		width: 200px;
		font-size: 0.8em;
		box-shadow: 0 0 10px 4px #cccccc44;
		border: 1px solid #888;
		border-left: None;
		border-top: None;
		border-bottom: None;
		border-radius: 5px;
		overflow: auto;
		opacity: 0.4;
		transition: all 0.5s ease;

		&:hover {
			opacity: 0.9;
			border-left: None;
			border-top: None;
			background-color: #ffffffbb;
			box-shadow: none;
			//box-shadow: 1px 1px 4px #aaa;
		}

		select {
			border: 1px solid #111111bb;
			border-radius: 5px;
			padding: 10px 5px 5px 10px;
			width: 100%;
			height: 100%;
			background-color: transparent;
			text-transform: capitalize;
			overflow: auto;
			option {
				min-width: 350px;
				max-width: 500px;
				border-bottom: 1px solid #11111133;
			}
			option:hover{
				font-weight: bold;
				opacity: 1;
			}
		}

		select:focus { outline: None; }
	}

	.overview-tiles {
		width: 90%;
		margin: 30px 0 0 250px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.overview-tile {
		background-color: rgba(60,150,210,0.05);
		position: relative;
		padding: 10px 15px 10px 15px;
		margin-bottom: 30px;
		margin-right: 10px;
		height: 240px;
		width: 400px;
		box-shadow: 0px 0px 30px -10px #bbbbbbbb;
		border-radius: 1px;
		overflow: auto;
		cursor: pointer;
		transition: all .4s ease;
		&:hover {
			box-shadow: 1px 1px 30px -10px #111111ee;
			z-index: 100;
		}

		h2 {
			position: absolute;
			margin: 10px 0 0 12px;
			text-shadow: 0px 0px 1px #dddddd55;
			font-size: 1em;
			font-family: "Helvetica Neue";
			font-weight: normal;
			white-space: nowrap;
			//color: rgba(51, 122, 183, 0.5);
			color: #dddddddd;

		}

		img {
			width: 370px;
			height: 160px;
			margin-bottom: 5px;
			border-radius: 0px;
		}

		span {
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			font-style: italic;
			font-weight: 400;
			font-size: 0.8em;
			text-transform: capitalize;
			margin-left: 5px;
		}
	}
}

@media screen and (min-width: 1601px) and (max-width: 2299px) {
	body {
		width: 100%;
		min-width: 100vw;
	}

	.navbar {
	 	li { margin-right: 40px !important; }
	}
	.navbar-header h4 {
		margin-right: 210px;
	}

	.header {
		width: 100vw !important;
	}

	.main {
		min-width: 100vw;
	}


	.lines-container {
		min-width: 100vw;
		margin-left: 3vw !important;
		white-space: nowrap;
		.share {
			left: 450px !important;
			white-space: normal !important;
			width: 800px !important;
			height: 250px !important;
		}
	}

	.sidebar {
		min-width: 350px;
		min-height: 680px;
		margin-right: 5vw !important;
		box-shadow: 1px 1px 4px #bbb;
		white-space: normal;

		.inner { padding: 0 30px 0 30px !important; }

		.overview-button {
			margin-top: 15px;
			width: 235px;
			height: 32px;
		}
		.download-line {
			width: 235px;
			height: 32px;
		}

		.share-button {
			width: 235px;
			height: 35px;
			margin-bottom: 15px;
		}

		.ui-select-bootstrap {
			width: 100% !important;
			margin-bottom: 5px;
			.glyphicon {
				left: 20px;
				line-height: 1;
			}
		}
		.ui-select-match-text span {
			width: 230px !important;
			text-overflow: ellipsis;
		}

		.img-modify-input {
			width: 90%;
			margin-bottom: 10px;
			margin-left: 5px;
		}
		.reset-button { width: 125px; }
		.slider {
			margin: 10px 0 15px 1px !important;
			width: 265px !important;
		}

	}

	.viewer {
		min-height: 680px;
		min-width: 1250px;
		box-shadow: -2px 2px 4px #bbb;

		.viewer-ctrl-panel {
			top: 40px;
			left: 270px;
		}

		@mixin viewer-img-pos() {
			top: 130px;
			left: 090px;
		}

		.primary-line-image { @include viewer-img-pos() }
		.mask-img { @include viewer-img-pos() }
		.color-channel { @include viewer-img-pos() }
	}

	.upload {
		.upload-container {
			top: 20%;
			left: 40vw;
			height: 550px;
			width: 550px;
			padding: 50px;
			padding-top: 50px;
		}
		.upload-info { font-size: 1.3em; }
		.upload-form { margin-top: 30px; }
		.input-upload-button {
			font-size: 1.5em !important;
			font-weight: normal !important;
			margin-right: 15px;
		}
		.input-line-name {
			margin-top: 15px;
			width: 225px;
			height: 40px;
			text-indent: 15px;
		}
	}

	.annotations {
		width: 95%;
		min-width: calc(1600px + 5vw);
		margin-top: 80px;
		margin-bottom: 130px;

		.notes {
			min-width: 150px;
			max-width: 400px;

			div {
				height: 50px;
			}
		}
	}


	.overview {
		.overview-keywords-bank {
			width: 250px;
			font-size: 1.1em;
			left: 30px;
		}
		.overview-tiles {
			margin: 30px 0 0 300px;
		}
	}

}

@media screen and (min-width: 2300px) {

	body {
		width: 100%;
		min-width: 100vw;
	}

	.navbar {
	 	li { margin-right: 60px !important; }
	}

	.navbar-header h4 {
		font-size: 3.5em !important;
		margin-right: 280px;
	}

	$media-xl-min-width: 110vw;

	.main {	min-width: $media-xl-min-width }

	.header {
		min-width: $media-xl-min-width;
		min-height: 7vw !important;
	}

	.title {
		min-width: 700px;
		font-size: 6.5em !important;
	}

	.lines-container {
		min-width: $media-xl-min-width;
		.share {
			left: 450px !important;
			bottom: 40px !important;
			white-space: normal !important;
			width: 800px !important;
			height: 250px !important;
		}
	}

	.sidebar {
		min-width: 400px;
		min-height: 900px;
		margin-right: 2vw !important;
		margin-left: 3vw !important;
		box-shadow: 1px 1px 4px #bbb;

		.inner { padding: 0 30px 0 30px !important; }

		.overview-button {
			width: 90%;
			height: 40px;
		}
		.download-line {
			margin-top: 20px;
			margin-bottom: 20px;
			width: 90% ;
			height: 40px;
		}
		.share-button {
			width: 90%;
			height: 40px;
			margin-bottom: 10px;
		}
		.img-modify-span { font-size: 0.7em; }
		.img-modify-input {
			width: 80%;
			margin-bottom: 10px;
			margin-left: 5px;
		}
		.reset-button {
			width: 130px;
		}

		.ui-select-bootstrap {
			width: 100% !important;
			.glyphicon {
				left: 20px;
				line-height: 1;
			}
	 	}

		.ui-select-match-text span {
			width: 280px !important;
			text-overflow: ellipsis;
		}
		.slider {
			margin: 10px 0 15px 4px !important;
			width: 310px !important;
		}
	}

	.viewer {
		min-height: 900px;
		min-width: 1820px !important;
		box-shadow: -2px 2px 4px #bbb;

		.viewer-ctrl-panel {
			top: 60px;
			left: 400px;

			.current-text { margin-left: 230px !important; }

			.z-index-div { margin-left: 50px !important; }

			.z-index-slider {
				top: 63px;
				left: 400px;
				width: 700px !important;
				z-index: 1000;
			}
		}

		@mixin xl-viewer-img-props() {
			top: 130px;
			height: 748px !important;
			width: 1785px !important;
		}

		.primary-line-image { @include xl-viewer-img-props() }

		.mask-img { @include xl-viewer-img-props() }

		.color-channel { @include xl-viewer-img-props() }

	}

	.upload {
		.upload-container {
			top: 20%;
			left: 40vw;
			height: 700px;
			width: 700px;
			padding: 70px;
		}
		.upload-info { font-size: 1.5em; }
		.upload-form { margin-top: 50px; }
		.input-upload-button {
			font-size: 1.7em !important;
			font-weight: normal !important;
			margin-right: 15px;
		}
		.input-line-name {
			margin-top: 20px;
			width: 250px;
			height: 40px;
			text-indent: 15px;
		}
	}

	.annotations {
		margin: 90px 0 130px 3vw;
		width: 2277px;

		.notes {
			min-width: 200px;
			max-width: 450px;

			div {
				height: 60px;
			}
		}
	}

	.overview {
		.overview-keywords-bank {
			width: 300px;
			font-size: 1.3em;
			left: 30px;
		}
		.overview-tiles {
			margin: 30px 0 0 350px;
		}
	}

}
