body {
  margin-left: 0;
  position: relative;
  overflow: scroll;
  font-family: Helvetica !important;
  height: calc(100vh - 50px);
  min-height: 900px;
  width: 1420px;
  background-color: #fffcfa !important; }
  body .content {
    padding: 30px 50px 0 60px; }
    body .content h1 {
      font-family: 'Raleway', Helvetica, sans-serif !important; }

.navbar {
  min-width: 1450px;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 0px !important;
  font-family: Raleway, sans-serif;
  font-size: 0.8em;
  border-color: transparent !important;
  background-color: transparent !important;
  border-right: 1px solid black; }
  .navbar ul {
    list-style-type: none;
    margin-right: 20px; }
  .navbar li {
    display: inline;
    height: 40px !important;
    margin-right: 10px;
    border-bottom-left-radius: 1px !important;
    border-bottom-right-radius: 1px !important;
    border-radius: 2px !important;
    transition: all 0.3s ease; }
    .navbar li a {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      line-height: 1 !important;
      color: #49d !important; }
  .navbar .active a {
    border-bottom: 1px solid #49c;
    border-right: 1px solid #49c;
    border-left: 1px solid #49c;
    color: #eee !important;
    background-color: #333 !important;
    border-radius: 4px !important;
    transition: all 0.2s ease; }
    .navbar .active a:hover {
      border-radius: 4px !important;
      color: #fff !important;
      background-color: #4499dd99 !important;
      text-shadow: 1px 1px 0px #11111177; }
  .navbar li:hover {
    background-color: #4499dd99; }
    .navbar li:hover a {
      color: white !important;
      font-weight: bold !important; }

.navbar-header h4 {
  color: #38c;
  font-family: 'Arial', 'Helvetica Neue';
  font-size: 2.1em !important;
  font-weight: 700;
  margin: 9px 100px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px #aaaaaaaa; }

.header {
  height: 120px;
  width: 100%;
  min-width: 1410px;
  position: relative;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif !important;
  margin-left: -15px;
  box-shadow: -10px 15px 25px -3px #eeeeee55; }

.title {
  top: 10px;
  left: 40%;
  width: 400px;
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 4.5em;
  color: #333;
  text-shadow: 2px 2px 4px #ccc; }

.main {
  background-color: transparent;
  width: 1500px; }
  .main .lines-container {
    width: 1475px;
    margin-left: 25px; }

.sidebar {
  display: inline-block;
  position: relative;
  overflow: auto;
  height: 600px;
  width: 240px;
  vertical-align: top;
  margin-right: 30px;
  border-top: 1px solid #eee;
  border-radius: 2px;
  background-color: #eee;
  box-shadow: 0px 0px 15px -2px #bbbbbb55; }
  .sidebar .sidebar-title {
    z-index: 1000;
    padding-left: 5px;
    background-color: #e5e5e5;
    box-shadow: 0px 2px 10px -1px #4499cc11; }
    .sidebar .sidebar-title span {
      opacity: 0;
      color: #333;
      font-family: monospace;
      font-weight: 100;
      font-size: 0.8em; }
  .sidebar .inner {
    padding-left: 10px; }
  .sidebar button {
    font-family: "Open Sans", helvetica, sans-serif;
    border-radius: 0px; }
  .sidebar .download-line {
    margin: 7px 0 0 20px;
    min-width: 160px;
    min-height: 28px;
    color: #fdfdfd;
    background: linear-gradient(#3388cc 0px, #146ec8 100%);
    border: none;
    border-radius: 2px; }
    .sidebar .download-line:hover {
      border: 1px solid #ffffff88; }
  .sidebar .img-modify-input:focus {
    outline: none; }
  .sidebar .overview-button {
    margin: 15px 0 0 -10px;
    min-width: 180px;
    min-height: 28px;
    color: #49d;
    text-shadow: 0 0 2px #ffffff88;
    background: linear-gradient(#eee 0px, #ddd);
    border: 0px solid #aaaaaa00;
    transition: all .2s ease;
    box-shadow: 0 0 5px -2px #88888888; }
    .sidebar .overview-button:hover {
      border: 1px solid #aaaaaa44;
      box-shadow: 0 0 6px -2px #88888888; }
  .sidebar form button {
    color: #111;
    border: none;
    margin-top: 12px;
    min-width: 70px;
    margin-right: 16px;
    background: linear-gradient(white 0px, #fafafa 100%); }
  .sidebar button:focus {
    outline: none; }
  .sidebar .lines-ctrls {
    padding: 20px 10px 30px 10px; }
  .sidebar .regions-ctrls {
    padding: 0 10px 30px 10px; }
  .sidebar .channel-ctrls {
    padding: 10px 10px 30px 10px;
    margin-bottom: 50px; }
  .sidebar .ui-select-container {
    margin-bottom: 6px !important; }
  .sidebar .ui-select-bootstrap {
    width: 200px !important; }
    .sidebar .ui-select-bootstrap .glyphicon {
      left: 18px;
      line-height: 1.5;
      color: #ccc; }
      .sidebar .ui-select-bootstrap .glyphicon:hover {
        color: #cc5858; }
  .sidebar .btn-default {
    transition: all 0.1s ease-out; }
    .sidebar .btn-default:hover {
      background-color: #fbfbfb; }
  .sidebar .btn-default-focus {
    outline: none;
    box-shadow: none; }
  .sidebar .ui-select-choices {
    width: 500px;
    min-width: 100%;
    overflow-x: auto !important; }
  .sidebar .ui-select-choices-row {
    width: 500px;
    font-size: 0.8em !important;
    overflow-wrap: normal; }
    .sidebar .ui-select-choices-row .ui-select-choices-row-inner {
      padding-left: 15px; }
    .sidebar .ui-select-choices-row .num {
      font-size: 0.6em;
      color: white; }
  .sidebar .ui-select-match-text span {
    width: 163px !important;
    text-overflow: ellipsis; }
  .sidebar .ui-select-container.lines {
    margin-bottom: 10px; }
  .sidebar .search-dropdown.lines > div > span {
    height: 40px !important;
    line-height: 2;
    border-top: 1px outset #4499cc88;
    border-left: 1px outset #4499cc88;
    border-bottom: 1px outset #ffffff66;
    border-right: 1px outset #ffffff66; }
  .sidebar .search-dropdown.cyan > div > span {
    border-bottom: 1px outset #00ffff55;
    border-right: 1px outset #00ffff55; }
    .sidebar .search-dropdown.cyan > div > span .glyphicon:hover {
      color: cyan; }
  .sidebar .search-dropdown.magenta > div > span {
    border-bottom: 1px outset #ff00ff55;
    border-right: 1px outset #ff00ff55; }
    .sidebar .search-dropdown.magenta > div > span .glyphicon:hover {
      color: magenta; }
  .sidebar .search-dropdown.green > div > span {
    border-bottom: 1px outset #00aa0055;
    border-right: 1px outset #00aa0055; }
    .sidebar .search-dropdown.green > div > span .glyphicon:hover {
      color: limeGreen; }
  .sidebar .search-dropdown.yellow > div > span {
    border-bottom: 1px outset #ffff0066;
    border-right: 1px outset #ffff0066; }
    .sidebar .search-dropdown.yellow > div > span .glyphicon:hover {
      color: yellow; }
  .sidebar .search-dropdown.blue > div > span {
    border-bottom: 1px outset #0000ff44;
    border-right: 1px outset #0000ff44; }
    .sidebar .search-dropdown.blue > div > span .glyphicon:hover {
      color: blue; }
  .sidebar .search-dropdown.red > div > span {
    border-bottom: 1px outset #ff000055;
    border-right: 1px outset #ff000055; }
    .sidebar .search-dropdown.red > div > span .glyphicon:hover {
      color: red; }
  .sidebar .slider {
    margin: 10px 0 10px 4px !important;
    width: 191px !important; }

.viewer {
  display: inline-block;
  background-color: #000;
  vertical-align: top;
  position: relative;
  height: 600px;
  min-width: 1150px;
  border-radius: 2px;
  border-top: 1px solid #ddd;
  box-shadow: 0px 0px 15px -2px #bbbbbb55; }
  .viewer .viewer-title {
    background-color: #ddd;
    padding-left: 5px;
    box-shadow: 0px 2px 10px -1px #ffffff55; }
    .viewer .viewer-title span {
      opacity: 0;
      color: black;
      font-family: monospace;
      font-weight: 100;
      font-size: 0.8em; }
  .viewer .viewer-ctrl-panel {
    position: absolute;
    top: 40px;
    left: 200px;
    z-index: 1000; }
    .viewer .viewer-ctrl-panel .current-text {
      font-family: Helvetica;
      margin-left: 130px; }
      .viewer .viewer-ctrl-panel .current-text .line-name {
        margin-left: 60px;
        color: #49d;
        font-size: 1.2em;
        font-family: "Lucida Console", Monaco, monospace;
        font-weight: bold; }
      .viewer .viewer-ctrl-panel .current-text .line-number {
        color: #ffffffcc;
        color: #49d;
        opacity: 0.50;
        font-size: 0.6em;
        text-shadow: 1px 1px 2px #ffffff99;
        font-weight: 100; }
    .viewer .viewer-ctrl-panel .z-index-div {
      margin: 10px 0 20px 55px;
      z-index: 2000; }
    .viewer .viewer-ctrl-panel .z-index-slider {
      top: 90px;
      width: 440px !important;
      z-index: 2000; }
  .viewer .primary-line-image {
    left: 10px;
    top: 90px;
    position: absolute;
    height: 440px !important;
    width: 1050 !important; }
  .viewer .color-channel {
    z-index: 500;
    opacity: 0.5;
    left: 10px;
    top: 90px;
    position: absolute;
    height: 440px !important;
    width: 1050 !important; }
  .viewer .mask-img {
    z-index: 1000;
    left: 10px;
    top: 90px;
    position: absolute;
    height: 440px !important;
    width: 1050 !important; }

.upload {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 120vh;
  width: 120vw;
  background-color: #ffffff66;
  transition: all 400ms ease;
  visibility: hidden;
  opacity: .01; }
  .upload .upload-container {
    position: absolute;
    top: 23%;
    left: 40vw;
    height: 430px;
    width: 400px;
    padding: 35px;
    padding-top: 50px;
    background-color: #fffffffc;
    border: 1px outset #ccc;
    border-radius: 2px;
    opacity: 1;
    box-shadow: 0 0 30px -5px #22222255; }
  .upload .upload-info {
    white-space: normal;
    font-family: 'Raleway', Helvetica, Sans-serif; }
    .upload .upload-info ol {
      font-family: Verdana; }
    .upload .upload-info input:focus {
      outline: None; }
  .upload .upload-close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: linear-gradient(#fee 0px, #edd);
    border-radius: 5px;
    font-family: verdana;
    border: None;
    transition: all 200ms ease; }
    .upload .upload-close:focus {
      outline: None; }
    .upload .upload-close:hover {
      background-color: lightGreen;
      color: black; }
  .upload .upload-form {
    margin-left: 0px; }
    .upload .upload-form span {
      margin-left: 10px; }
  .upload .input-upload-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    z-index: 2000; }
    .upload .input-upload-wrapper .input-upload-button {
      border: 1px solid #49c;
      cursor: pointer;
      color: #444;
      background-color: white;
      padding: 8px 20px;
      margin-right: 10px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold; }
      .upload .input-upload-wrapper .input-upload-button:hover {
        box-shadow: 2px 2px 2px black; }
    .upload .input-upload-wrapper input[type=file], .upload .input-upload-wrapper input[type=submit] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer; }
  .upload .input-line-name {
    width: 185px;
    height: 30px;
    padding: 5px;
    border: 1px inset #4499cc55;
    border-radius: 5px;
    text-indent: 10px;
    margin-top: 8px; }
    .upload .input-line-name::placeholder {
      color: #ccc; }
    .upload .input-line-name:hover {
      border: 1px inset #4499cc99; }

.upload-active {
  visibility: visible;
  opacity: 1; }

.annotations {
  width: 1427px;
  margin: 70px 0 100px 0;
  padding-top: 20px;
  background-color: #fffcfa;
  font-size: .9em; }
  .annotations tr {
    width: 100%; }
  .annotations table {
    width: 100%;
    font-family: "Raleway", "Open Sans", sans-serif;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-collapse: separate !important; }
  .annotations .top-table {
    box-shadow: 0px -10px 30px -7px #bbbbbb45; }
  .annotations .bottom-table {
    box-shadow: 0px 10px 30px -7px #bbbbbb15; }
  .annotations .headers {
    height: 35px;
    line-height: 0;
    background: linear-gradient(to bottom, #fffcfa, #f2f8ff, #f2f8ff, #f2f8ff, #f2f8ff); }
  .annotations .headers:first-of-type {
    max-width: 80px; }
  .annotations th {
    overflow: auto;
    min-width: 200px;
    padding: 8px;
    text-align: center;
    border-top: 1px solid #4499ddff;
    border-bottom: 1px inset #4499ddff;
    border-left: 1px solid #4499dddd;
    text-shadow: 1px 1px 2px #eee;
    color: #333;
    font-size: 1.1em; }
    .annotations th:last-child {
      border-right: 1px solid #4499dddd; }
  .annotations td {
    overflow: auto;
    padding: 3px 0 10px 0;
    text-align: center;
    text-shadow: 1px 1px 2px #ddddeecc;
    color: #889; }
  .annotations .notes {
    min-width: 100px;
    max-width: 350px; }
    .annotations .notes div {
      padding-top: 12px;
      height: 40px;
      overflow: scroll; }
  .annotations .notice {
    margin: 30px 0 0 5px; }
    .annotations .notice span {
      font-style: oblique;
      font-weight: bold;
      font-size: 0.7em;
      font-family: 'Open Sans';
      color: #ccc;
      text-shadow: 1px 1px 3px #88888844; }

.overview {
  margin-top: 40px; }
  .overview .overview-keywords-bank {
    position: fixed;
    z-index: 200;
    height: calc(100vh - 100px);
    top: 91px;
    left: 20px;
    width: 200px;
    font-size: 0.8em;
    background-color: #fffcfa;
    box-shadow: 1px 1px 2px #444;
    border: 1px solid #888;
    border-left: None;
    border-top: None;
    border-bottom: None;
    overflow: auto;
    opacity: 0.4;
    transition: all 0.5s ease; }
    .overview .overview-keywords-bank:hover {
      opacity: 0.9;
      border-left: None;
      border-top: None;
      box-shadow: 1px 1px 4px #aaa; }
    .overview .overview-keywords-bank select {
      border: 1px solid black;
      width: 100%;
      height: 100%;
      background-color: transparent; }
      .overview .overview-keywords-bank select option:hover {
        background-color: #ddd; }
    .overview .overview-keywords-bank select:focus {
      outline: None; }
  .overview .overview-tiles {
    margin: 30px 0 0 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .overview .overview-tile {
    position: relative;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    height: 300px;
    width: 390px;
    box-shadow: 1px 1px 2px #bbb;
    overflow: scroll;
    cursor: pointer;
    transition: all .4s ease; }
    .overview .overview-tile h2 {
      position: absolute;
      margin: 8px 0 0 8px;
      text-shadow: 0px 0px 1px #ddd;
      font-size: 1em;
      font-family: "Helvetica";
      font-weight: bold;
      white-space: nowrap;
      color: #337ab7; }
    .overview .overview-tile img {
      width: 370px;
      height: 160px;
      margin-bottom: 5px;
      border-radius: 2px; }
    .overview .overview-tile ul {
      min-height: 100px;
      margin-top: 10px;
      overflow: scroll;
      font-family: "Open Sans", Helvetica Neue, sans-serif;
      list-style-type: none; }
    .overview .overview-tile li {
      margin-bottom: 2px; }
  .overview .overview-tile:hover {
    box-shadow: 1px 1px 10px #bbb;
    z-index: 100; }

@media screen and (min-width: 1601px) and (max-width: 2299px) {
  body {
    width: 100%;
    min-width: 100vw; }

  .navbar li {
    margin-right: 40px !important; }

  .header {
    width: 100vw !important; }

  .main {
    min-width: 100vw; }

  .lines-container {
    min-width: 100vw;
    margin-left: 3vw !important;
    white-space: nowrap; }

  .sidebar {
    min-width: 350px;
    min-height: 680px;
    margin-right: 5vw !important;
    box-shadow: 1px 1px 4px #bbb;
    white-space: normal; }
    .sidebar .inner {
      padding: 0 30px 0 30px !important; }
    .sidebar .download-line {
      width: 235px;
      height: 32px; }
    .sidebar .overview-button {
      margin: 15px 0 0 0;
      width: 235px;
      height: 32px; }
    .sidebar .ui.search.dropdown {
      width: 100% !important;
      margin-bottom: 5px; }
    .sidebar .img-modify-input {
      width: 80%;
      margin-bottom: 10px; }
    .sidebar .slider {
      margin: 10px 0 15px 1px !important;
      width: 265px !important; }

  .viewer {
    min-height: 680px;
    min-width: 1250px;
    box-shadow: -2px 2px 4px #bbb; }
    .viewer .viewer-ctrl-panel {
      top: 40px;
      left: 270px; }
    .viewer .primary-line-image {
      top: 130px;
      left: 090px; }
    .viewer .mask-img {
      top: 130px;
      left: 090px; }
    .viewer .color-channel {
      top: 130px;
      left: 090px; }

  .upload .upload-container {
    top: 20%;
    left: 40vw;
    height: 550px;
    width: 550px;
    padding: 50px;
    padding-top: 50px; }
  .upload .upload-info {
    font-size: 1.3em; }
  .upload .upload-form {
    margin-top: 30px; }
  .upload .input-upload-button {
    font-size: 1.5em !important;
    font-weight: normal !important;
    margin-right: 15px; }
  .upload .input-line-name {
    margin-top: 15px;
    width: 225px;
    height: 40px;
    text-indent: 15px; }

  .annotations {
    width: 95%;
    min-width: calc(1600px + 5vw);
    margin-top: 80px;
    margin-bottom: 130px; }
    .annotations .notes {
      min-width: 150px;
      max-width: 400px; }
      .annotations .notes div {
        height: 50px; }

  .overview .overview-keywords-bank {
    width: 250px;
    font-size: 1.1em;
    left: 30px; }
  .overview .overview-tiles {
    margin: 30px 0 0 300px; } }
@media screen and (min-width: 2300px) {
  body {
    width: 100%;
    min-width: 100vw; }

  .navbar li {
    margin-right: 60px !important; }

  .main {
    min-width: 110vw; }

  .header {
    min-width: 110vw;
    min-height: 7vw !important; }

  .title {
    min-width: 700px;
    font-size: 6.5em !important; }

  .lines-container {
    min-width: 110vw; }

  .sidebar {
    min-width: 400px;
    min-height: 900px;
    margin-right: 2vw !important;
    margin-left: 3vw !important;
    box-shadow: 1px 1px 4px #bbb; }
    .sidebar .inner {
      padding: 0 30px 0 30px !important; }
    .sidebar .download-line {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 80%;
      height: 40px; }
    .sidebar .overview-button {
      margin: 30px 0 0 -15px;
      width: 280px;
      height: 40px; }
    .sidebar button {
      width: 90px;
      margin-right: 40px; }
    .sidebar .ui.search.dropdown {
      width: 100% !important; }
    .sidebar .slider {
      margin: 10px 0 15px 4px !important;
      width: 310px !important; }

  .viewer {
    min-height: 900px;
    min-width: 1820px !important;
    box-shadow: -2px 2px 4px #bbb; }
    .viewer .viewer-ctrl-panel {
      top: 60px;
      left: 400px; }
      .viewer .viewer-ctrl-panel .current-text {
        margin-left: 230px !important; }
      .viewer .viewer-ctrl-panel .z-index-div {
        margin-left: 50px !important; }
      .viewer .viewer-ctrl-panel .z-index-slider {
        top: 63px;
        left: 400px;
        width: 700px !important;
        z-index: 1000; }
    .viewer .primary-line-image {
      top: 130px;
      height: 748px !important;
      width: 1785px !important; }
    .viewer .mask-img {
      top: 130px;
      height: 748px !important;
      width: 1785px !important; }
    .viewer .color-channel {
      top: 130px;
      height: 748px !important;
      width: 1785px !important; }

  .upload .upload-container {
    top: 20%;
    left: 40vw;
    height: 700px;
    width: 700px;
    padding: 70px; }
  .upload .upload-info {
    font-size: 1.5em; }
  .upload .upload-form {
    margin-top: 50px; }
  .upload .input-upload-button {
    font-size: 1.7em !important;
    font-weight: normal !important;
    margin-right: 15px; }
  .upload .input-line-name {
    margin-top: 20px;
    width: 250px;
    height: 40px;
    text-indent: 15px; }

  .annotations {
    margin: 90px 0 130px 3vw;
    width: 2277px; }
    .annotations .notes {
      min-width: 200px;
      max-width: 450px; }
      .annotations .notes div {
        height: 60px; }

  .overview .overview-keywords-bank {
    width: 300px;
    font-size: 1.3em;
    left: 30px; }
  .overview .overview-tiles {
    margin: 30px 0 0 350px; } }

/*# sourceMappingURL=main.css.map */
