body {
  margin-left: 0;
  position: relative;
  overflow: scroll;
  font-family: Helvetica !important;
  height: calc(100vh - 50px);
  min-height: 900px;
  width: 1420px;
  background-color: #fffcfa !important; }
  body .content {
    padding: 30px 50px 0 60px; }
    body .content h1 {
      font-family: 'Raleway', Helvetica, sans-serif !important; }

.navbar {
  min-width: 1450px;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 0px !important;
  font-family: Raleway, sans-serif;
  font-size: 0.8em;
  border-color: transparent !important;
  background-color: transparent !important;
  border-right: 1px solid black; }
  .navbar ul {
    list-style-type: none;
    margin-right: 20px; }
  .navbar li {
    display: inline;
    height: 42px !important;
    margin-right: 10px;
    border-bottom-left-radius: 1px !important;
    border-bottom-right-radius: 1px !important;
    border-radius: 4px !important;
    transition: all 0.3s ease; }
    .navbar li a {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      line-height: 1 !important;
      color: #49d !important; }
  .navbar .active a {
    border-bottom: 1px solid #4499cc88;
    border-right: 1px solid #4499cc88;
    border-left: 1px solid #4499cc88;
    background-color: #11244b03 !important;
    border-radius: 4px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    transition: all 0.2s ease;
    text-shadow: 1px 1px 0px #ffffff33; }
    .navbar .active a:hover {
      border-radius: 4px !important;
      color: #fff !important;
      background-color: #4499dd99 !important;
      text-shadow: 1px 1px 0px #11111177; }
  .navbar li:hover {
    background-color: #4499dd99; }
    .navbar li:hover a {
      color: white !important;
      font-weight: bold !important; }

.navbar-header h4 {
  color: #38c;
  font-family: 'Arial', 'Helvetica Neue';
  font-size: 2.1em !important;
  font-weight: 700;
  margin: 9px 100px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px #aaaaaaaa; }

.header {
  height: 120px;
  width: 100%;
  min-width: 1410px;
  position: relative;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif !important;
  margin-left: -15px;
  box-shadow: -10px 15px 25px -3px #eeeeee55; }

.title {
  top: 10px;
  left: 40%;
  width: 400px;
  position: relative;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 4.5em;
  color: #333;
  text-shadow: 0px 0px 10px #cccccc77; }

.main {
  background-color: transparent;
  width: 1500px; }
  .main .lines-container {
    width: 1460px;
    margin-left: 40px; }
    .main .lines-container .share {
      visibility: hidden;
      position: fixed;
      bottom: 20px;
      left: 340px;
      z-index: 3000;
      min-height: 200px;
      width: 700px;
      overflow-y: auto;
      padding: 10px 20px 20px 10px;
      background-color: #ffffffcc;
      border-radius: 5px;
      opacity: 0.01;
      box-shadow: 0 0 30px -5px #22222299;
      transition: all 400ms ease-out;
      font-family: Helvetica; }
      .main .lines-container .share button {
        position: absolute;
        bottom: 20px;
        right: 30px;
        width: 60px !important;
        border: none !important;
        border-radius: 3px; }
      .main .lines-container .share .share-header {
        font-size: 1.3em;
        font-weight: bold; }
      .main .lines-container .share .share-content {
        padding-left: 25px;
        font-size: 1em;
        opacity: 0.8; }
      .main .lines-container .share .share-content a {
        font-size: 0.9em;
        text-decoration: none; }
    .main .lines-container .share-active {
      visibility: visible;
      opacity: 1; }

.sidebar {
  display: inline-block;
  position: relative;
  overflow: auto;
  height: 600px;
  width: 240px;
  vertical-align: top;
  margin-right: 30px;
  border-top: 1px solid #eee;
  border-radius: 2px;
  background-color: #eee;
  box-shadow: 0px 0px 15px -2px #bbbbbb55; }
  .sidebar .sidebar-title {
    z-index: 1000;
    padding-left: 5px;
    background-color: #e5e5e5;
    box-shadow: 0px 2px 10px -1px #4499cc11; }
    .sidebar .sidebar-title span {
      opacity: 0;
      color: #333;
      font-family: monospace;
      font-weight: 100;
      font-size: 0.8em; }
  .sidebar .inner {
    padding-left: 10px;
    padding-top: 10px; }
  .sidebar button {
    font-family: "Open Sans", helvetica, sans-serif;
    border-radius: 0px; }
  .sidebar .overview-button {
    margin: 20px 0 5px 20px;
    min-width: 160px;
    min-height: 28px;
    color: #49d;
    text-shadow: 0 0 2px #ffffff88;
    background: linear-gradient(#eee 0px, #ddd);
    border: 0px solid #aaaaaa00;
    transition: all .2s ease;
    box-shadow: 0 0 5px -2px #88888888; }
    .sidebar .overview-button:hover {
      border: 1px solid #aaaaaa44;
      box-shadow: 0 0 6px -2px #88888888; }
  .sidebar .download-line {
    margin: 7px 0 5px 20px;
    min-width: 160px;
    min-height: 28px;
    color: #fdfdfd;
    background: linear-gradient(#3388cc 0px, #146ec8 100%);
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 5px -2px #88888888; }
    .sidebar .download-line:hover {
      border: 1px solid #ffffff88; }
  .sidebar .share-button {
    margin: 7px 0 0 20px;
    min-width: 160px;
    min-height: 28px;
    color: #fdfdfd;
    background: linear-gradient(#33cc88 0px, #14c86e 100%);
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 5px -2px #88888888; }
    .sidebar .share-button:hover {
      border: 1px solid #ffffff88; }
  .sidebar .img-modify-input {
    color: #111111; }
    .sidebar .img-modify-input:focus {
      outline: none; }
  .sidebar .reset-button {
    border-radius: 4px;
    margin-left: 0px;
    margin-top: 10px;
    min-width: 50px; }
  .sidebar form button {
    color: #111;
    border: none;
    margin-top: 12px;
    min-width: 70px;
    margin-right: 16px;
    background: linear-gradient(white 0px, #fafafa 100%); }
  .sidebar form span {
    color: #fff;
    text-shadow: 1px 1px 1px #3399dd77;
    font-family: monospace;
    font-size: 0.7em; }
  .sidebar button:focus {
    outline: none; }
  .sidebar .lines-ctrls {
    padding: 20px 10px 30px 10px; }
  .sidebar .regions-ctrls {
    padding: 0 10px 30px 10px; }
  .sidebar .channel-ctrls {
    padding: 10px 10px 10px 10px;
    margin: 0 0 30px 0; }
  .sidebar .ui-select-container {
    margin-bottom: 6px !important; }
  .sidebar .ui-select-bootstrap {
    width: 200px !important;
    font-weight: 100; }
    .sidebar .ui-select-bootstrap .glyphicon {
      left: 18px;
      line-height: 1.5;
      color: #ccc; }
      .sidebar .ui-select-bootstrap .glyphicon:hover {
        color: #cc5858; }
  .sidebar .btn-default {
    transition: all 0.1s ease-out;
    font-weight: 100; }
    .sidebar .btn-default:hover {
      background-color: #fbfbfb; }
  .sidebar .btn-default-focus {
    outline: none;
    box-shadow: none; }
  .sidebar .ui-select-choices {
    width: 500px;
    min-width: 100%;
    overflow-x: auto !important; }
  .sidebar .ui-select-choices-row {
    width: 500px;
    font-size: 0.8em !important;
    overflow-wrap: normal; }
    .sidebar .ui-select-choices-row .ui-select-choices-row-inner {
      padding-left: 15px;
      font-weight: 100 !important; }
    .sidebar .ui-select-choices-row .mece {
      color: #888;
      text-shadow: 1px 1px 1px #3399dd22; }
    .sidebar .ui-select-choices-row .num {
      font-size: 0.6em;
      color: #fff; }
  .sidebar .ui-select-choices-row.active > span .mece {
    color: #fff !important; }
  .sidebar .ui-select-choices-group-label {
    font-family: monospace;
    font-weight: 400;
    text-shadow: 1px 1px 1px #3399dd44;
    margin: 2px 0 5px -10px !important;
    font-size: 1.3em !important;
    color: #222222dd; }
  .sidebar .ui-select-match-text span {
    width: 163px !important;
    text-overflow: ellipsis; }
  .sidebar .ui-select-container.lines {
    margin-bottom: 10px; }
  .sidebar .search-dropdown.lines > div > span {
    height: 40px !important;
    line-height: 2;
    border-top: 1px outset #4499cc88;
    border-left: 1px outset #4499cc88;
    border-bottom: 1px outset #ffffff66;
    border-right: 1px outset #ffffff66; }
  .sidebar .search-dropdown.grey > div > span {
    border: 1px outset #11111188;
    border-bottom: 1px outset #11111155;
    border-right: 1px outset #11111155; }
    .sidebar .search-dropdown.grey > div > span .glyphicon:hover {
      color: black; }
  .sidebar .search-dropdown.cyan > div > span {
    border-bottom: 1px outset #00ffff55;
    border-right: 1px outset #00ffff55; }
    .sidebar .search-dropdown.cyan > div > span .glyphicon:hover {
      color: cyan; }
  .sidebar .search-dropdown.magenta > div > span {
    border-bottom: 1px outset #ff00ff55;
    border-right: 1px outset #ff00ff55; }
    .sidebar .search-dropdown.magenta > div > span .glyphicon:hover {
      color: magenta; }
  .sidebar .search-dropdown.green > div > span {
    border-bottom: 1px outset #00aa0055;
    border-right: 1px outset #00aa0055; }
    .sidebar .search-dropdown.green > div > span .glyphicon:hover {
      color: limeGreen; }
  .sidebar .search-dropdown.yellow > div > span {
    border-bottom: 1px outset #ffff0066;
    border-right: 1px outset #ffff0066; }
    .sidebar .search-dropdown.yellow > div > span .glyphicon:hover {
      color: yellow; }
  .sidebar .search-dropdown.blue > div > span {
    border-bottom: 1px outset #0000ff44;
    border-right: 1px outset #0000ff44; }
    .sidebar .search-dropdown.blue > div > span .glyphicon:hover {
      color: blue; }
  .sidebar .search-dropdown.red > div > span {
    border-bottom: 1px outset #ff000055;
    border-right: 1px outset #ff000055; }
    .sidebar .search-dropdown.red > div > span .glyphicon:hover {
      color: red; }
  .sidebar .slider {
    margin: 10px 0 10px 4px !important;
    width: 191px !important; }

.viewer {
  display: inline-block;
  background-color: #000000;
  vertical-align: top;
  position: relative;
  height: 600px;
  min-width: 1150px;
  border-radius: 2px;
  border-top: 1px solid #ddd;
  box-shadow: 0px 0px 15px -2px #bbbbbb55;
  border-top-right-radius: 2px; }
  .viewer .viewer-title {
    border-top-right-radius: 1px;
    background-color: #ddd;
    padding-left: 5px;
    box-shadow: 0px 2px 10px -1px #ffffff55; }
    .viewer .viewer-title span {
      opacity: 0;
      color: black;
      font-family: monospace;
      font-weight: 100;
      font-size: 0.8em; }
  .viewer .viewer-ctrl-panel {
    position: absolute;
    height: 200px;
    width: 450px;
    top: 40px;
    left: 200px;
    z-index: 1000; }
    .viewer .viewer-ctrl-panel .current-text {
      font-family: Helvetica;
      transition: all 400ms ease;
      text-align: center;
      margin-left: 90px; }
      .viewer .viewer-ctrl-panel .current-text .line-name {
        color: #49d;
        font-size: 1.5em;
        font-family: Helvetica, Monaco, monospace;
        font-weight: 400; }
      .viewer .viewer-ctrl-panel .current-text .line-number {
        color: #49d;
        opacity: 0.50;
        font-size: 0.6em;
        text-shadow: 1px 1px 2px #ffffff99;
        font-weight: 100;
        transition: all 300ms ease;
        transition-delay: 200ms; }
      .viewer .viewer-ctrl-panel .current-text .updating {
        opacity: 0.85;
        font-weight: 400;
        font-size: 0.7em; }
    .viewer .viewer-ctrl-panel .z-index-div {
      margin: 10px 0 20px 55px;
      z-index: 2000; }
    .viewer .viewer-ctrl-panel .z-index-slider {
      top: 90px;
      width: 440px !important;
      z-index: 2000; }
  .viewer .primary-line-image {
    left: 10px;
    top: 90px;
    position: absolute;
    height: 480px !important;
    width: 1090px !important; }
  .viewer .color-channel {
    z-index: 500;
    opacity: 0.5;
    left: 10px;
    top: 90px;
    position: absolute;
    height: 480px !important;
    width: 1090px !important; }
  .viewer .region-img {
    z-index: 1000;
    left: 10px;
    top: 90px;
    position: absolute;
    height: 480px !important;
    width: 1090px !important; }

.upload {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 120vh;
  width: 120vw;
  background-color: #ffffff66;
  transition: all 400ms ease;
  visibility: hidden;
  opacity: .01; }
  .upload .upload-container {
    position: absolute;
    top: 23%;
    left: 40vw;
    height: 430px;
    width: 400px;
    padding: 35px;
    padding-top: 50px;
    background-color: #fffffffc;
    border: 1px outset #ccc;
    border-radius: 2px;
    opacity: 1;
    box-shadow: 0 0 30px -5px #22222255; }
  .upload .upload-info {
    white-space: normal;
    font-family: 'Raleway', Helvetica, Sans-serif; }
    .upload .upload-info ol {
      font-family: Verdana; }
    .upload .upload-info input:focus {
      outline: None; }
  .upload .upload-close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: linear-gradient(#fee 0px, #edd);
    border-radius: 5px;
    font-family: verdana;
    border: None;
    transition: all 200ms ease; }
    .upload .upload-close:focus {
      outline: None; }
    .upload .upload-close:hover {
      background-color: lightGreen;
      color: black; }
  .upload .upload-form {
    margin-left: 0px; }
    .upload .upload-form span {
      margin-left: 10px; }
  .upload .input-upload-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    z-index: 2000; }
    .upload .input-upload-wrapper .input-upload-button {
      border: 1px solid #49c;
      cursor: pointer;
      color: #444;
      background-color: white;
      padding: 8px 20px;
      margin-right: 10px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold; }
      .upload .input-upload-wrapper .input-upload-button:hover {
        box-shadow: 2px 2px 2px black; }
    .upload .input-upload-wrapper input[type=file], .upload .input-upload-wrapper input[type=submit] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer; }
  .upload .input-line-name {
    width: 185px;
    min-width: 90%;
    height: 30px;
    padding: 5px;
    border: 1px inset #4499cc55;
    border-radius: 1px;
    text-indent: 10px;
    margin-top: 8px; }
    .upload .input-line-name::placeholder {
      color: #ccc; }
    .upload .input-line-name:hover {
      border: 1px inset #4499cc99; }

.upload-active {
  visibility: visible;
  opacity: 1; }

.annotations {
  position: relative;
  width: 1427px;
  margin: 70px 0 100px 0;
  padding-top: 20px;
  background-color: #fffcfa;
  font-size: .9em; }
  .annotations tr {
    width: 100%; }
  .annotations table {
    width: 100%;
    font-family: "Raleway", "Open Sans", sans-serif;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-collapse: separate !important; }
  .annotations .top-table {
    box-shadow: 0px -10px 30px -7px #bbbbbb45; }
  .annotations .bottom-table {
    box-shadow: 0px 10px 30px -7px #bbbbbb20; }
  .annotations .headers {
    height: 35px;
    line-height: 0;
    background: linear-gradient(to bottom, #fffcfa, #f2f8ff, #f2f8ff, #f2f8ff, #f2f8ff); }
  .annotations .headers:first-of-type {
    max-width: 80px; }
  .annotations th {
    overflow: auto;
    min-width: 200px;
    padding: 8px;
    text-align: center;
    border-top: 1px solid #4499ddff;
    border-bottom: 1px inset #4499ddff;
    border-left: 1px solid #4499dddd;
    text-shadow: 1px 1px 2px #eee;
    color: #333;
    font-size: 1.1em; }
    .annotations th:last-child {
      border-right: 1px solid #4499dddd; }
  .annotations td {
    overflow: auto;
    padding: 3px 0 10px 0;
    text-align: center;
    text-shadow: 1px 1px 2px #ddddeecc;
    color: #889; }
  .annotations .notes {
    min-width: 100px;
    max-width: 350px; }
    .annotations .notes div {
      padding-top: 12px;
      height: 45px;
      overflow: scroll; }
  .annotations .annotations-search {
    position: relative;
    margin-bottom: 50px; }
    .annotations .annotations-search .annotations-search-icon {
      position: absolute;
      top: 7px;
      left: 13px;
      z-index: 10;
      color: #4499dddd; }
    .annotations .annotations-search .annotations-search-input {
      height: 30px;
      width: 35%;
      padding-left: 35px;
      background-color: rgba(220, 245, 255, 0.15);
      border: 1px solid #4499dd55;
      border-radius: 10px;
      font-weight: 400;
      transition: background 350ms ease;
      color: #111111aa;
      box-shadow: 0px 0px 15px -2px #bbbbbb35; }
      .annotations .annotations-search .annotations-search-input:hover, .annotations .annotations-search .annotations-search-input:focus {
        outline: none;
        background: rgba(255, 255, 255, 0.9);
        color: black; }
    .annotations .annotations-search .placeholder-text {
      color: black !important; }
    .annotations .annotations-search .annotations-search-results {
      margin-top: 11px;
      background-color: rgba(240, 250, 255, 0.2);
      transition: all 300ms ease;
      transition-delay: 100ms; }
      .annotations .annotations-search .annotations-search-results ul {
        font-family: Helvetica;
        font-weight: 100;
        padding-left: 10px;
        max-height: 160px;
        overflow-x: hidden;
        overflow-y: auto;
        list-style-type: none; }
      .annotations .annotations-search .annotations-search-results li {
        margin-bottom: 3px;
        padding: 1px 5px 10px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 300ms ease; }
        .annotations .annotations-search .annotations-search-results li:hover {
          background-color: #33333311; }
      .annotations .annotations-search .annotations-search-results h4 {
        margin-bottom: 7px;
        color: #22222299;
        font-weight: 700;
        text-shadow: 0px 0px 3px #33333311; }
    .annotations .annotations-search .search-results-active {
      max-height: 150px !important;
      visibility: visible;
      opacity: 1 !important; }
    .annotations .annotations-search .search-results-hidden {
      max-height: 0px !important;
      visibility: hidden;
      opacity: 0.01 !important; }
  .annotations .notice {
    margin: 30px 0 0 5px; }
    .annotations .notice span {
      font-style: oblique;
      font-weight: bold;
      font-size: 0.7em;
      font-family: 'Open Sans';
      color: #ccc;
      text-shadow: 1px 1px 3px #88888844; }

.overview {
  margin-top: 40px; }
  .overview .overview-keywords-bank {
    position: fixed;
    z-index: 200;
    height: calc(100vh - 100px);
    top: 91px;
    left: 20px;
    width: 200px;
    font-size: 0.8em;
    box-shadow: 0 0 15px -4px #cccccc22;
    border: 1px solid #888;
    border-left: None;
    border-top: None;
    border-bottom: None;
    border-radius: 5px;
    overflow: auto;
    opacity: 0.4;
    transition: all 0.5s ease; }
    .overview .overview-keywords-bank:hover {
      opacity: 0.9;
      border-left: None;
      border-top: None;
      background-color: #ffffffbb;
      box-shadow: none; }
    .overview .overview-keywords-bank select {
      border: 1px solid #111111bb;
      border-radius: 5px;
      padding: 10px 5px 5px 10px;
      width: 100%;
      height: 100%;
      background-color: transparent;
      text-transform: capitalize;
      overflow: auto; }
      .overview .overview-keywords-bank select option {
        min-width: 350px;
        max-width: 500px;
        border-bottom: 1px solid #11111133; }
      .overview .overview-keywords-bank select option:hover {
        font-weight: bold;
        opacity: 1; }
    .overview .overview-keywords-bank select:focus {
      outline: None; }
  .overview .overview-tiles {
    width: 90%;
    margin: 30px 0 0 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .overview .overview-tile {
    background-color: rgba(60, 150, 210, 0.05);
    position: relative;
    padding: 20px 15px 10px 15px;
    margin-bottom: 30px;
    margin-right: 10px;
    height: 240px;
    width: 400px;
    box-shadow: 0px 0px 30px -10px #bbbbbbbb;
    border: 1px solid #11111100;
    border-radius: 3px;
    overflow: auto;
    cursor: pointer;
    transition: all 400ms ease; }
    .overview .overview-tile:hover {
      box-shadow: 1px 1px 30px -10px #111111ee;
      z-index: 100;
      border: 1px solid #11111144; }
    .overview .overview-tile h2 {
      position: absolute;
      margin: 10px 0 0 12px;
      text-shadow: 0px 0px 1px #dddddd55;
      font-size: 1em;
      font-family: "Helvetica Neue";
      font-weight: normal;
      white-space: nowrap;
      color: #dddddddd; }
    .overview .overview-tile img {
      width: 370px;
      height: 160px;
      margin-bottom: 5px;
      border-radius: 0px; }
    .overview .overview-tile span {
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 0.8em;
      text-transform: capitalize;
      margin-left: 5px; }

@media screen and (min-width: 1601px) and (max-width: 2299px) {
  body {
    width: 100%;
    min-width: 100vw; }

  .navbar li {
    height: 46px !important;
    margin-right: 22px !important; }
    .navbar li a {
      font-size: 1.2em; }

  .navbar-header h4 {
    margin-right: 210px; }

  .header {
    width: 100vw !important; }

  .title {
    left: calc(700px + 10%); }

  .main {
    min-width: 100vw; }

  .lines-container {
    min-width: 100vw;
    margin-left: 3vw !important;
    white-space: nowrap; }
    .lines-container .share {
      left: 450px !important;
      white-space: normal !important;
      width: 800px !important;
      height: 250px !important; }

  .sidebar {
    min-width: 350px;
    min-height: 680px;
    margin-right: 5vw !important;
    white-space: normal; }
    .sidebar .inner {
      padding: 0 30px 0 30px !important; }
    .sidebar .overview-button {
      margin-top: 15px;
      width: 235px;
      height: 32px; }
    .sidebar .download-line {
      width: 235px;
      height: 32px; }
    .sidebar .share-button {
      width: 235px;
      height: 35px;
      margin-bottom: 15px; }
    .sidebar .ui-select-bootstrap {
      width: 100% !important;
      margin-bottom: 5px; }
      .sidebar .ui-select-bootstrap .glyphicon {
        left: 18px;
        line-height: -1; }
    .sidebar .ui-select-match-text span {
      width: 230px !important;
      text-overflow: ellipsis; }
    .sidebar .img-modify-input {
      width: 90%;
      margin-bottom: 10px;
      margin-left: 5px; }
    .sidebar .reset-button {
      width: 125px; }
    .sidebar .slider {
      margin: 10px 0 15px 1px !important;
      width: 265px !important; }

  .viewer {
    min-height: 680px;
    min-width: 1250px; }
    .viewer .viewer-ctrl-panel {
      top: 40px;
      left: 270px; }
    .viewer .primary-line-image {
      top: 130px;
      left: 40px;
      width: 1155px !important;
      height: 506px !important; }
    .viewer .region-img {
      top: 130px;
      left: 40px;
      width: 1155px !important;
      height: 506px !important; }
    .viewer .color-channel {
      top: 130px;
      left: 40px;
      width: 1155px !important;
      height: 506px !important; }

  .upload .upload-container {
    top: 20%;
    left: 40vw;
    height: 550px;
    width: 550px;
    padding: 50px;
    padding-top: 60px; }
  .upload .upload-info {
    font-size: 1.3em; }
  .upload .upload-form {
    margin-top: 30px; }
  .upload .input-upload-button {
    font-size: 1.5em !important;
    font-weight: normal !important;
    margin-right: 15px; }
  .upload .input-line-name {
    margin-top: 15px;
    width: 225px;
    height: 40px;
    text-indent: 15px; }

  .annotations {
    width: 90%;
    min-width: calc(1600px + 5vw);
    margin-top: 80px;
    margin-bottom: 130px; }
    .annotations .notes {
      min-width: 150px;
      max-width: 400px; }
      .annotations .notes div {
        height: 50px; }

  .overview .overview-keywords-bank {
    width: 250px;
    font-size: 1.1em;
    left: 30px; }
  .overview .overview-tiles {
    margin: 30px 0 0 300px; } }
@media screen and (min-width: 2300px) {
  body {
    width: 100%;
    min-width: 100vw; }

  .navbar li {
    height: 48px !important;
    margin-right: 60px !important; }
    .navbar li a {
      font-size: 1.5em; }

  .navbar-header h4 {
    font-size: 3.5em !important;
    margin-right: 280px; }

  .main {
    min-width: 110vw; }

  .header {
    min-width: 110vw;
    min-height: 7vw !important;
    margin-top: 50px;
    margin-bottom: 100px; }

  .title {
    min-width: 700px;
    font-size: 6.5em !important; }

  .lines-container {
    min-width: 110vw; }
    .lines-container .share {
      left: 450px !important;
      bottom: 40px !important;
      white-space: normal !important;
      width: 800px !important;
      height: 250px !important; }

  .sidebar {
    min-width: 400px;
    min-height: 900px;
    margin-right: 2vw !important;
    margin-left: 3vw !important; }
    .sidebar .sidebar-title {
      height: 25px; }
    .sidebar .inner {
      padding: 0 30px 0 30px !important; }
    .sidebar .overview-button {
      width: 90%;
      height: 40px; }
    .sidebar .download-line {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 90%;
      height: 40px; }
    .sidebar .share-button {
      width: 90%;
      height: 40px;
      margin-bottom: 10px; }
    .sidebar .img-modify-span {
      font-size: 0.7em; }
    .sidebar .img-modify-input {
      width: 80%;
      margin-bottom: 10px;
      margin-left: 5px; }
    .sidebar .reset-button {
      width: 130px; }
    .sidebar .ui-select-bootstrap {
      width: 100% !important; }
      .sidebar .ui-select-bootstrap .glyphicon {
        left: 18px;
        line-height: -1; }
    .sidebar .ui-select-match-text span {
      width: 280px !important;
      text-overflow: ellipsis; }
    .sidebar .slider {
      margin: 10px 0 15px 4px !important;
      width: 310px !important; }

  .viewer {
    min-height: 900px;
    min-width: 1820px !important; }
    .viewer .viewer-title {
      height: 25px; }
    .viewer .viewer-ctrl-panel {
      top: 60px;
      left: 400px;
      width: 800px; }
      .viewer .viewer-ctrl-panel .current-text .line-name {
        font-size: 2em;
        font-weight: 400; }
      .viewer .viewer-ctrl-panel .current-text .line-number {
        font-size: 0.8em;
        text-shadow: 1px 1px 2px #ffffff99;
        font-weight: 100; }
      .viewer .viewer-ctrl-panel .z-index-div {
        margin-left: 50px !important; }
      .viewer .viewer-ctrl-panel .z-index-slider {
        top: 63px;
        left: 400px;
        width: 700px !important;
        z-index: 1000; }
    .viewer .primary-line-image {
      top: 130px;
      height: 748px !important;
      width: 1785px !important; }
    .viewer .region-img {
      top: 130px;
      height: 748px !important;
      width: 1785px !important; }
    .viewer .color-channel {
      top: 130px;
      height: 748px !important;
      width: 1785px !important; }

  .upload .upload-container {
    top: 20%;
    left: 40vw;
    height: 700px;
    width: 700px;
    padding: 70px; }
  .upload .upload-info {
    font-size: 1.5em; }
  .upload .upload-form {
    margin-top: 50px; }
  .upload .input-upload-button {
    font-size: 1.7em !important;
    font-weight: normal !important;
    margin-right: 15px; }
  .upload .input-line-name {
    margin-top: 20px;
    width: 250px;
    height: 40px;
    text-indent: 15px; }

  .annotations {
    margin: 90px 0 130px 3vw;
    width: 2277px; }
    .annotations .annotations-search {
      margin-bottom: 80px; }
      .annotations .annotations-search .annotations-search-icon {
        top: 12px; }
      .annotations .annotations-search .annotations-search-input {
        height: 40px; }
      .annotations .annotations-search .annotations-search-results {
        margin-top: 30px; }
      .annotations .annotations-search ul, .annotations .annotations-search .search-results-active {
        max-height: 200px !important; }
    .annotations .notes {
      min-width: 200px;
      max-width: 450px; }
      .annotations .notes div {
        height: 60px; }

  .overview .overview-keywords-bank {
    width: 300px;
    font-size: 1.3em;
    left: 30px; }
  .overview .overview-tiles {
    margin: 30px 0 0 350px; } }

/*# sourceMappingURL=main.css.map */
