body {
  margin-left: 0;
  position: relative;
  overflow: scroll;
  font-family: Helvetica !important;
  height: calc(100vh - 50px);
  min-height: 900px;
  width: 1420px;
  background-color: #fffcfa !important; }

.navbar {
  min-width: 1450px;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 0px !important;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  border-color: transparent !important;
  background-color: transparent !important;
  border-right: 1px solid black; }
  .navbar ul {
    list-style-type: none;
    margin-right: 20px; }
  .navbar li {
    display: inline;
    transition: background-color 0.5s ease;
    margin-right: 10px; }
  .navbar li:hover {
    background-color: #ddd; }
  .navbar a {
    color: #49d !important; }

.navbar-header h4 {
  color: #38c;
  font-family: Arial;
  font-size: 1.5em !important;
  font-weight: bold;
  margin: 16px 100px 0 10px; }

.header {
  height: 120px;
  width: 100%;
  min-width: 1410px;
  position: relative;
  box-shadow: -10px 15px 25px #eee;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif !important;
  margin-left: -15px; }

.title {
  top: 10px;
  left: 40%;
  width: 400px;
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 4.5em;
  color: #333;
  text-shadow: 2px 2px 2px #ccc; }

.main {
  background-color: transparent;
  width: 1500px; }
  .main .lines-container {
    width: 1485px;
    margin-left: 15px; }

.sidebar {
  display: inline-block;
  position: relative;
  overflow: scroll;
  height: 600px;
  width: 240px;
  vertical-align: top;
  margin-right: 30px;
  background-color: #eee;
  box-shadow: 1px 1px 1px #bbb; }
  .sidebar .inner {
    padding-left: 10px; }
  .sidebar button {
    font-family: Helvetica, sans-serif;
    border-radius: 00px; }
  .sidebar .download-line {
    margin: 7px 0 0 20px;
    min-width: 160px;
    min-height: 28px;
    color: #fdfdfd;
    background: linear-gradient(#3388cc 0px, #146ec8 100%);
    border: none; }
  .sidebar form button {
    color: #111;
    border: none;
    margin-top: 12px;
    min-width: 70px;
    margin-right: 16px;
    background: linear-gradient(white 0px, #fafafa 100%); }
  .sidebar button:focus {
    outline: none; }
  .sidebar .regions-ctrls {
    padding: 0 10px 30px 10px; }
  .sidebar .cyan i {
    box-shadow: 3px 0px 1px -1px rgba(0, 255, 255, 0.6); }
  .sidebar .magenta i {
    box-shadow: 3px 0px 1px -1px rgba(255, 0, 255, 0.5); }
  .sidebar .green i {
    box-shadow: 3px 0px 1px -1px rgba(0, 128, 0, 0.5); }
  .sidebar .yellow i {
    box-shadow: 3px 0px 1px -1px rgba(255, 255, 0, 0.5); }
  .sidebar .red i {
    box-shadow: 3px 0px 1px -1px rgba(255, 0, 0, 0.6); }
  .sidebar .blue i {
    box-shadow: 3px 0px 1px -1px rgba(0, 0, 255, 0.6); }
  .sidebar .ui.search.dropdown {
    width: 100px !important;
    text-overflow: ellipsis; }
  .sidebar .ui.search.dropdown.text {
    width: 150px !important; }

.viewer {
  display: inline-block;
  background-color: #000;
  vertical-align: top;
  position: relative;
  height: 600px;
  min-width: 1150px;
  box-shadow: -2px 2px 2px #bbb; }
  .viewer .viewer-ctrl-panel {
    position: absolute;
    top: 40px;
    left: 200px;
    z-index: 1000; }
    .viewer .viewer-ctrl-panel .current-text {
      font-family: Helvetica;
      margin-left: 130px; }
    .viewer .viewer-ctrl-panel .z-index-div {
      margin: 10px 0 20px 55px;
      z-index: 2000; }
    .viewer .viewer-ctrl-panel .z-index-slider {
      top: 90px;
      width: 440px !important;
      z-index: 2000; }
  .viewer .primary-line-image {
    left: 0;
    top: 90px;
    position: absolute;
    height: 440px !important;
    width: 1050 !important; }
  .viewer .color-channel {
    z-index: 500;
    opacity: 0.5;
    left: 0;
    top: 90px;
    position: absolute;
    height: 440px !important;
    width: 1050 !important; }
  .viewer .mask-img {
    z-index: 1000;
    left: 0;
    top: 90px;
    position: absolute;
    height: 440px !important;
    width: 1050 !important; }

.annotations {
  margin: 35px 0 60px 0;
  width: 1424px; }
  .annotations table {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    text-align: center; }
  .annotations tr:first-of-type {
    font-family: "Raleway", serif;
    background-color: #f2f8ff; }
  .annotations th {
    padding: 8px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #aaa;
    border-bottom: 1px solid #38c; }
  .annotations td {
    overflow: scroll;
    text-align: center;
    color: #146ec8; }
  .annotations .notes {
    text-align: left;
    min-width: 40px;
    max-width: 100px; }
    .annotations .notes div {
      height: 45px;
      overflow: scroll; }

@media screen and (min-width: 1601px) and (max-width: 2299px) {
  body {
    width: 100%;
    min-width: 100vw; }

  .header {
    width: 100vw !important; }

  .main {
    min-width: 100vw; }

  .lines-container {
    min-width: 100vw;
    margin-left: 3vw !important; }

  .sidebar {
    min-width: 350px;
    min-height: 680px;
    margin-right: 5vw !important; }
    .sidebar .inner {
      padding: 0 30px 0 30px !important; }
    .sidebar .download-line {
      width: 200px; }
    .sidebar .ui.search.dropdown {
      width: 100% !important;
      margin-bottom: 5px; }
    .sidebar .img-modify-input {
      width: 80%;
      margin-bottom: 10px; }

  .viewer {
    min-height: 680px; }
    .viewer .primary-line-image {
      top: 130px;
      left: 60px; }
    .viewer .mask-img {
      top: 130px;
      left: 60px; }
    .viewer .color-channel {
      top: 130px;
      left: 60px; } }
@media screen and (min-width: 2300px) {
  body {
    width: 100%;
    min-width: 100vw; }

  .navbar li {
    margin-right: 50px !important; }

  .main {
    min-width: 110vw; }

  .header {
    min-width: 110vw;
    min-height: 7vw !important; }

  .title {
    min-width: 700px;
    font-size: 6.5em !important; }

  .lines-container {
    min-width: 110vw; }

  .sidebar {
    min-width: 400px;
    min-height: 900px;
    margin-right: 2vw !important;
    margin-left: 3vw !important; }
    .sidebar .inner {
      padding: 0 30px 0 30px !important; }
    .sidebar .download-line {
      width: 80%; }
    .sidebar .ui.search.dropdown {
      width: 100% !important; }

  .viewer {
    min-height: 900px;
    min-width: 1820px !important; }
    .viewer .viewer-ctrl-panel {
      position: absolute;
      top: 20px;
      left: 400px;
      z-index: 1000; }
      .viewer .viewer-ctrl-panel .current-text {
        margin-left: 230px !important; }
      .viewer .viewer-ctrl-panel .z-index-div {
        margin-left: 50px !important; }
      .viewer .viewer-ctrl-panel .z-index-slider {
        top: 63px;
        left: 400px;
        width: 700px !important;
        z-index: 1000; }
    .viewer .primary-line-image {
      top: 130px;
      height: 748px !important;
      width: 1785px !important; }
    .viewer .mask-img {
      top: 130px;
      height: 748px !important;
      width: 1785px !important; }
    .viewer .color-channel {
      top: 130px;
      height: 748px !important;
      width: 1785px !important; } }

/*# sourceMappingURL=main.css.map */
