<!--nav.html-->
<nav class="navbar navbar-default"
	aria-label="Page navigation">
	<div class="navbar-inner container-fluid">
		<div class="navbar-header pull-left">
			<a href="https://www.engertlab.org/" style="text-decoration:none">
				<h4><span>⧂</span> &nbspEngert Lab</h4>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-repeat="page in $ctrl.pages" ng-click="$ctrl.updateNav(page.link)"
					ng-class="{active: page.active}">
					<a href="{{page.link}}">
						{{page.name}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
